[2020-05-04 15:42] tcal-x opened #3 "Possibly add instructions for loading bitstream / connecting to board (maybe factor out to new guide)"
Hi everyone,

I ran through these examples and I REALLY LIKED THEM.   I think they were originally made to have something that ran through testing automatically every night, but they also seem like a great intro for beginners.   I really liked the straightforward Makefile approach here -- I can see each step (synth/pack/place/route), look at the intermediate files, rerun a step with alterations, e

[2020-05-04 22:02] mithro opened #4 "This should probably be move to SymbiFlow organization"
Right?

[2020-05-04 22:06] mithro opened #5 "USB3.0 PHY / PIPE example?"
- https://github.com/enjoy-digital/usb3_pipe compiled with Vivado
 - https://github.com/enjoy-digital/daisho compiled with SymbiFlow

Kind of like that PCIe demo you did previously.....

[2020-05-06 17:41] kgugala commented on #4
done

[2020-05-06 17:41] #4 closed

[2020-05-07 08:25] mkurc-ant opened #6 "Add targets for Arty and Nexys Video boards for counter and PicoSoC designs"
This is just a matter of adding separate PCF/XDCs for each design plus make targets.

[2020-06-08 22:29] mithro opened #11 "Why is counter_test/counter_basys3.v?"
Shouldn't it be `counter_test/counter.v`?

[2020-06-08 22:33] mithro commented on #11
FYI - @joannabrozek

[2020-06-08 22:40] pgielda commented on #11
I guess its because it, as README states "targets the Basys3 board".
it would still make sense to just rename it for simplicity.

[2020-06-08 23:25] mithro commented on #11
@pgielda Most certainly want to add Arty support too...

[2020-06-08 23:28] mithro opened #12 "The linux_litex_demo doesn't make much sense"
It is the *output* of LiteX -- this demo should be an example of running LiteX using the SymbiFlow tools.

[2020-06-08 23:32] mithro opened #13 "Add a FuseSoC based demo"
Example of using FuseSoC with SymbiFlow.

[2020-06-09 22:01] pgielda commented on #11
it is renamed now at least.

[2020-06-09 22:01] pgielda commented on #11
I guess its now a duplicate of #6

[2020-06-09 22:01] #11 closed

[2020-06-11 18:15] mithro opened #19 "Change to environment.yml"
### Current

[code]

### New version

[code]

##### `environment.yml`
[code]

##### `requirements.txt`
[code]

[2020-06-11 18:51] mithro commented on #19
FYI -- @pgielda @kgugala

[2020-06-11 18:52] mithro commented on #19
https://github.com/SymbiFlow/conda-env-make/blob/master/conda.mk is useful for understanding the steps.

[2020-06-11 18:53] pgielda commented on #19
Thanks. I am going to test this locally and report back.

[2020-06-11 18:53] mithro commented on #19
The steps are generally;

 1. Install conda
 2. Create environment from environment.yml + requirements.txt file
 3. Enter created environment

[2020-06-19 22:18] mithro opened #25 "The example directory seems useless?"
Currently we have
 - `symbiflow-examples/examples/xc7`

The extra `examples` directory doesn't seem to add much value?

It would probably be better to have the following
 - `symbiflow-examples/xc7`

It also means that a person who goes to this repo quickly sees which architectures there are examples for.

[2020-06-19 22:18] mithro commented on #25
@pgielda / @kgugala What do you think?

[2020-06-19 23:06] pgielda commented on #25
Not sure. The thing is that xc7, eos-s3 (and potentially other names in the future) will pile up that is one thing, second the idea with "examples" is to make clear that this is where the examples are (and not e.g. some arch data needed for the scripts, etc).

In any case I do not have any strong opinions about it in any case so we can as well remove it.

[2020-06-22 14:57] #19 closed

[2020-06-25 03:27] mithro opened #26 "Add an example for a Zynq part"
It appears we don't have any examples / demos which run on Zynq parts at the moment?

I don't know which board should be targeted?

[2020-06-25 03:28] mithro opened #27 "Add support for the 100T variant of the Arty A7"
It would be good if the examples also worked on the Arty 100T version.

[2020-06-25 03:29] mithro commented on #27
@tcal-x -- Any idea if this would be possible yet or are there things which need to be done first?

[2020-06-25 03:29] mithro commented on #26
@kgugala -- Any thoughts?

[2020-06-25 03:30] mithro commented on #26
FYI - @andrewbutt1999

[2020-06-25 03:46] tcal-x commented on #27
Should just work.
But let me check :)

[2020-06-25 06:53] tcal-x commented on #27
Oh, wait, I see we need to manually pick what files are packaged, and the 100t files are not currently included under /opt/symbiflow/xc7/install/share/arch/.   The first needed file that the tool can't find is the arch.timing.xml file.

[2020-06-25 14:04] andrewb1999 commented on #26
In my opinion, the important part of a zynq example is PS->PL communication.  After having 7020 support merged, it would be relatively easy to make an example based off of the zynq blinky example in prjxray.  I have a few tests that are more complicated, such as using axi, but they currently use xilinx IP.

At a more fundamental level, examples using the PS will be somewhat limited at the moment d

[2020-06-25 14:07] mithro commented on #26
I think Antmicro have a bunch of examples with that?

[2020-06-25 14:16] kgugala commented on #26
We have this one https://github.com/SymbiFlow/symbiflow-arch-defs/tree/master/xc/xc7/tests/ps7/axi_lite_reg it implements an AXI peripheral which can be then used with this tester https://github.com/SymbiFlow/symbiflow-xc7z-automatic-tester

I also implemented a LiteX-Linux design using PS7 DDR in Zynq. I have to find it, though. I'll link it here once I have it.

[2020-06-25 14:19] andrewb1999 commented on #26
Oh ok that's interesting.  Does using U-boot replace using the fsbl?  Do you have any examples of running a bare metal application on the PS?

[2020-06-25 14:35] antoinevg commented on #26
I've got a [Zybo Z7](https://reference.digilentinc.com/reference/programmable-logic/zybo-z7/start) with a `xc7z020clg400-1` here and would be happy to help out with any testing.

[2020-06-25 14:37] antoinevg commented on #26
I've been using this as a base: https://github.com/SymbiFlow/prjxray/tree/master/minitests/z7_blinky_emio

[2020-06-25 14:54] kgugala commented on #26
fsbl simply configures the low level part of the chip (including DDR controller), optionally programs the FPGA and loads the next stage software. Instead of FSBL you can use U-Boot SPL but you need to ensure that is has a correct chip configuration for the board you're using. What you can do, is to export ps7_init_gpl.{c|h} from Vivado and use them with U-Boot SPL.

Note that mainline U-Boot has c

[2020-06-26 06:07] tcal-x commented on #27
Maybe we just need to grab a more recent archive/artifact.   The instructions tell you to `wget` this:
[code]
from April 16.

@kgugala can you advise if this archive is created with every build, or if it was a one-off thing?

[2020-06-30 01:13] tcal-x commented on #27
I figured how to find recent install tars, for example:
[code]
However, this tar does not include install/share/prjxray directories, and if I use this tar in place of the April 16 tar, then when I try to follow the instructions for building the examples, I see the following error:
[code]

[2020-06-30 02:15] tcal-x commented on #27
@litghost @acomodi , this is where I'm tracking 100T support in symbiflow-examples.

@rw1nkler , also, in case you have any relevant information, please let me know.

[2020-07-06 16:36] tcal-x opened #28 "Rethink download/install method"
Right now we use a combination of downloading a tar.gz file, plus installing Conda packages.   There is executable code/scripts in both parts.   Is there a better way?  It seems updating the tools to include recent additions is difficult (for example, see issue #27).

Perhaps there is some reworking already in the pipeline.

[2020-07-07 16:19] tcal-x commented on #28
Alessandro is working on this I think.

[2020-07-07 17:06] litghost commented on #12
There are some partial instructions here: https://github.com/SymbiFlow/symbiflow-arch-defs/blob/master/xc/xc7/tests/soc/litex/mini_ddr/README.md but I believe they are missing anything about the PLL parameters.  Is the idea to convert this example to invoke LiteX once the PLL parameter issue has a solution?

[2020-07-12 00:09] mithro opened #30 "Add testing of the symbiflow examples on multiple Linux variants"
We should be testing that the SymbiFlow examples successfully work and run on as many Linux variants as we can. This can probably be done using Docker on travis.

I started trying to get this working at https://github.com/SymbiFlow/symbiflow-examples/compare/master...mithro:multi-os-test?expand=1 kind of based off what we do for verible at https://github.com/google/verible/blob/master/.travis.yml

[2020-07-12 00:10] mithro opened #31 "Add testing of symbiflow examples on Windows"
We should be testing the examples run on Windows.

[2020-07-12 00:10] mithro opened #32 "Add testing of the symbiflow examples on Mac OS X"
We should be testing the examples run on Mac OS X

[2020-07-27 22:19] Skydive opened #37 "Arty A7 100T genfasm crash (in counter_test)"
I was told on IRC that setting VPR_SEED may be a workaround.
I've repeated the command, after deleting the build folder each time:
`TARGET="arty_100" make | tee <LOGFILE>`
1) `export VPR_SEED="--seed 1341221332"`
2) `export VPR_SEED="--seed 12345"`
3) `unset VPR_SEED`
At the end of each log:
[code]
I hope this aids efforts to fix this problem.
[log-seed-unset.log](https://github.com/SymbiFlow/symb

[2020-07-27 22:36] litghost commented on #37
Sorry I was mistaken about the error you have.  The error you are seeing is in genfasm, not in placement.  I'll take a look this week.

[2020-07-28 00:53] litghost commented on #37
Can you  please post the ".net", ".place" and ".route" files for you target?  I believe I know the issue, and want to replicate what you are seeing.

[2020-07-28 07:38] Skydive commented on #37
This is for the unset VPR_SEED
[top.place](https://gist.github.com/Skydive/93d71f609691434e2ec2ba464eb4a9eb#file-top-place)
[top.route](https://gist.github.com/Skydive/93d71f609691434e2ec2ba464eb4a9eb#file-top-route)
[top.net](https://gist.github.com/Skydive/93d71f609691434e2ec2ba464eb4a9eb#file-top-net)

[2020-07-28 20:22] litghost commented on #37
So I've identified the problem.  The genfasm step for the 100T currently consumes ~7 GB of RAM, and I believe you mentioned that you had ~7 GB of RAM total.  Lowering the peak memory usage is something we are working on, but it isn't something we have a concrete path forward on.  Sorry for the inconvenience.

Data:
[code]

[2020-07-29 19:23] mithro opened #38 "Convert the README docs to rst and make sure it is included in symbiflow.rtfd.io"

[2020-08-09 09:35] Ruinland opened #41 "Arty A7-35 Litex bootloader seems not reacting correctly to ARP response ?"
Hi,

Thanks for the great project.

I just build the top.bit from examples/xc7/linux_litex_demo with pre-gen files.
And I tried Ethernet boot with the setup from [LiteX wiki](https://github.com/enjoy-digital/litex/wiki/Load-Application-Code-To-CPU#ethernet-boot) except changing my TFTP server port from 69 to 6069 because the bootloader suggests "Fetching from: UDP/6069" .

Yet the bootloader compl

[2020-08-10 15:16] mithro commented on #41
Hi @Ruinland,

You might want to join us on IRC at #symbiflow on irc.freenode.net or on our Slack channel and we can help debug in real time.

@tcal-x and @kgugala will hopefully be able to help debug what is going on if you can't make it there.

[2020-08-10 15:59] tcal-x commented on #41
Hi @Ruinland ,

I kind of recall the opposite condition -- if you just had the LiteX BIOS on  Arty, and you tried to ping it, it wouldn't reply, and with Wireshark I saw Arty ignoring the ARP requests.

But here, Arty is looking for the host, to connect via TFTP.   The first thing I would do is check your host's firewall setting.  On Ubuntu, you would use "ufw".

Not booting after serial boot (I a

[2020-08-10 16:33] tcal-x commented on #41
P.S. I'm assuming you're updated the IP address of your host's ethernet port to be 192.168.100.100 correctly.   It occurred to me that you might also need to bind your tftpd to this interface and not for example your wifi interface.

I've found debugging tftp to be quite difficult -- even trying to figure out the right version of tftpd to install.   The instructions [here](https://github.com/timvi

[2020-08-11 12:06] Ruinland commented on #41
Hi, thanks for the quick reply and sorry for my late reply :-)

AFAIK, I disabled my firewall completely. And I can netboot Linux on the bitstream from [Linux-on-LiteX](https://github.com/timvideos/litex-buildenv/wiki/Linux) with the same network configuration.

That's what I feel suspicious, too.
If memories serve me correctly, LiteX once changed the offsets somewhere between July, 2019  ~  May,

[2020-08-11 12:18] Ruinland commented on #41
I dived into the wiki you pointed to, it's [bringing host's atftpd up](https://github.com/timvideos/litex-buildenv/blob/master/Makefile#L441).
I'll try it later (still at my day job's office now). Maybe the bitstream generated here is more sensitive to something I don't know (timing I guess ?)

[2020-08-11 12:26] Ruinland commented on #41
@mithro

Surely.
Could you provide me the URL for the slack you're using?

[2020-08-11 12:51] kgugala commented on #41
@Ruinland I just checked the Linux example on two different Arty boards and 2 different PCs - it works fine. I'm pretty sure the network issues you're seeing are related to you local network configuration.

As for the uploading over UART - I added the `images.json` file (https://github.com/SymbiFlow/symbiflow-examples/blob/master/examples/xc7/linux_litex_demo/images.json). You can use this it to l

[2020-08-11 12:56] kgugala commented on #41
@Ruinland you can use this Slack invite to sign in to the SymbiFlow Slack channel https://join.slack.com/t/symbiflow/shared_invite/enQtNTkyMjcyNTkzOTY4LTU0MzhmYWNjOGMyMTkyNjA0MmEyMWM5OWY3ZDg5MWQ3ODlmOWQwZjk2YzBmMDBjMzkzMzNjYjkwYjAxZTMyNjQ

[2020-08-12 14:28] Ruinland commented on #41
Sadly, the serialboot still failed ...... (the log is appended below.)
I'll buy a new Arty A7 later, maybe my board is broken or so.
Sorry for occupying your precious time. Feel free to close this issue.

Yet could you do one thing for me ?
I really want to try a supposed to work, vpr-generated bitstream on my board.
It would be nice if you could provide me a top.bit so I can try one last time.

S

[2020-08-12 21:03] tcal-x commented on #41
Hi @Ruinland ,

I don't see any evidence that your hardware is faulty.  This case is much more complex than just building a bitsteam.   You have both the bitstream, plus Linxu images, and they need to be in 100% agreement about "where things are" in the address space, or you get the hang that you saw.   The images.json file must specify the correct offsets that agree with what was built into the L

[2020-08-13 06:03] tcal-x commented on #41
Hi @Ruinland , some of the things I wrote above a wrong -- I was assuming this was like the usual LiteX build, but it's not.

I see the VexRiscv Verilog is right there in the top directory, so you have no clue how it was generated -- that is true.   But it is also true that I don't think it is related to the issues you're having.

Also, I see Karol added an images.json file.   I'll try that with s

[2020-08-13 07:09] tcal-x commented on #41
@Ruinland , @kgugala  -- I see exactly the same stall at Liftoff with serial boot, as in @Ruinland 's previous comment.   I got everything from the symbiflow-examples/examples/xc7/linux_litex_demo/ directory --- I built top.bit using the Makefile, and I used the images.json and the files that it points to.

[2020-08-13 15:35] Ruinland commented on #41
Hi @tcal-x  ,
Thanks for the help.

Yes, I do use the files in the example directories (buildroot and emulator) in this repo.

Thanks for the tip. I generated top.v and the top.tcl from GitHub litex-hub/linux-on-litex-vexriscv repo (commit 4f913ce9).
And I tried to modify the Makefile in linux_on_litex to use that top.v and a VexRiscv_Linux.v which I've generated [1] and booted before. Unfortunate

[2020-08-13 18:33] tcal-x commented on #41
Hi @Ruinland , I'm afraid this is getting beyond my expertise.   I do know VexRiscV has GDB debug support, but you need to have a `Debug` variant, as in https://github.com/litex-hub/pythondata-cpu-vexriscv/blob/654057b2f5cec0f9fc99487dff67861f76fcbe7e/pythondata_cpu_vexriscv/verilog/VexRiscv_LinuxDebug.v.

There's more info at https://github.com/SpinalHDL/VexRiscv.

The Litex configuration would a

[2020-08-13 18:36] tcal-x opened #42 "examples/xc7/linux_litex_demo serialboot doesn't work with provided Linux images"
See comment https://github.com/SymbiFlow/symbiflow-examples/issues/41#issuecomment-672905413.

I have replicated these results.

[2020-08-13 21:09] kgugala commented on #41
The binaries are fine, there was a bug in images.json - emulator.bin was loaded @ incorrect address. https://github.com/SymbiFlow/symbiflow-examples/commit/2bc55db818a7ae6b6bb1edaea32c04938c01db0b fixes the issue.

[2020-08-13 21:10] kgugala commented on #42
the images are fine. `emulator.bin` was loaded @ incorrect address. https://github.com/SymbiFlow/symbiflow-examples/commit/2bc55db818a7ae6b6bb1edaea32c04938c01db0b fixes this

[2020-08-14 02:26] tcal-x commented on #42
Yep, fixed.  Thanks @kgugala !

[2020-08-14 02:26] #42 closed

[2020-08-14 02:26] tcal-x commented on #41
@Ruinland , it works for me now, so give it another try.

[2020-08-14 11:47] Ruinland commented on #41
![2020-08-14-194428_1920x1080_scrot](https://user-images.githubusercontent.com/7066711/90246215-b00e9e80-de66-11ea-9686-ae0f96f9e7dc.png)

I have no idea how does this happen.

[2020-08-14 11:56] kgugala commented on #41
Are you sure you started UART loading? Please reset the CPU in LiteX system after you open a serial connection with litex_term.
(The CPU can be reset with a red pushbutton labeled `reset` - should be near PMOD JD and JP1 jumper)

[2020-08-14 11:58] kgugala commented on #41
and remember to use `--no-crc` option

[2020-08-14 13:43] Ruinland commented on #41
Thanks for all kinds of help.

Though being very Voodoo, I managed to sort things out .
Just like @kgugala said, the binaries (Linux image, rootfs, dtb and the rv32.dtb) are fine and the bitstream is fine as well .
The netboot failure I encountered is really a configuration issue, yet I cannot explain.

The only things I did to make serialboot work is that I used an openocd compiled from latest sc

[2020-08-14 13:43] #41 closed

[2020-08-19 22:49] mithro opened #43 "Explore converting the Travis CI to instead use GitHub actions"
@FFY00 has set up GitHub actions to generate Arch Linux packages for SymbiFlow at https://github.com/FFY00/symbiflow-arch-pkgs

This has a couple of really nice aspects;
 - It generates a list of tasks to run based on which packages have been modified.
 - It can potentially have a much clearer dependency tree described.

It seems that GitHub actions are the future here. @FFY00 has said he would be

[2020-09-04 12:28] SSandeep19 opened #45 "Missing sudo: Errors while installing Toolchain for Artix-7 Devices"
Hi i am new to Linux and working on to generate bitstream file for a Verilog file using Symbiflow for a Artix-7 FPGA. I successfully installed Conda in tool chain installation and moved to second part of tool chain installation for Artix-7 and i got errors as shown in the screenshot.
![fri_01](https://user-images.githubusercontent.com/56548200/92239104-72f76400-ee88-11ea-8a27-8b08898942a5.png)

[2020-09-04 16:04] tcal-x commented on #45
It looks like there was a problem with the `wget` command that is the first step.   It looks like you have captured stdout in your `conda_installer.sh` file, not the contents itself.   If you look at the file, you _should_ see this:
[code]

Try rerunning the `wget`, making sure that your cut-and-paste doesn't change characters.

[2020-09-04 19:17] SSandeep19 commented on #45
yes you are right and now i can see the file as you mentioned but there is still an error which is different from the previous errors.
![fri_02](https://user-images.githubusercontent.com/56548200/92277715-92f74980-eec1-11ea-8d68-7bdc2fd91b5a.png)

[2020-09-04 19:41] tcal-x commented on #45
Yes, that is a mistake in the instructions.   It should be:
[code]
The difference is the `sudo`, which gives you root permission for the duration of the following command.

This assumes that you have `sudo` permission on your machine.  You may be asked for your password or `root`'s password.

[2020-09-04 19:55] SSandeep19 commented on #45
giving sudo worked . I believe you are saying to use the wget command you have  given immediately after the sudo command because if i follow the instructions it is throwing errors. can you please confirm.
![fri_03](https://user-images.githubusercontent.com/56548200/92280277-0f405b80-eec7-11ea-9f0f-b6575d51ec53.png)

[2020-09-04 20:44] tcal-x commented on #45
I'm sorry I added sudo to the wrong instruction (which also needs sudo).  Let me edit the previous comment so that I don't confuse other readers.

This 'file not found' is another problem with the README.   It asks you to use a file that isn't there you.  You don't have that file until you do the `git clone`.

So please go ahead with the `git clone` part of the instructions:
[code]
And then contin

[2020-09-04 20:55] tcal-x commented on #45
@SSandeep19 , I've tried to fix the README problems here:

[https://github.com/tcal-x/symbiflow-examples/tree/doc](https://github.com/tcal-x/symbiflow-examples/tree/doc)

After I double-check my changes, I'll submit a PR to this repo.

[2020-09-07 14:38] SSandeep19 commented on #45
Hi tcal-x,

i am facing an error while executing a command (pushd litex/litex/boards/targets && ./arty.py --toolchain symbiflow --cpu-type vexriscv --build && popd) almost at the end, attaching the screenshot and i don't know if it changes something. I also would like to know few things

1. What boards of Artix-7 are supported i have Digilent NEXYS A7 will it be supported or should i change some a

[2020-09-08 13:59] kamilrakoczy opened #48 "Travis is always downloading master revision when executing tests."
Travis is using tuttest to test tutorial commands in the README.md.

Tuttest is following commands from the README.md and make sure they are working.
In the README.md there is a command that is cloning repository and entering newly cloned repository:
[code]
this means, that when someone opens PR, changes from this PR are not reflected in the tests. Always master version of the repository is used i

[2020-09-08 15:48] tcal-x commented on #45
- The `migen` error is some installation/path issue.   I haven't tried the LiteX build in this specific example, but I've seen that error other times with LiteX.   @acomodi , @kgugala , any ideas?
- Yes, you should be able to use SymbiFlow with Nexys A7, although maybe not all examples (specifically, the Linux example, since it requires a large amount of memory, and I haven't checked the specs for

[2020-09-08 15:58] tcal-x commented on #45
P.S. you don't need to put ALL the pins in the master XDC file in your PCF file -- just the ones the design uses.

[2020-09-08 17:17] litghost commented on #45
In general, `sudo` shouldn't be required for using anything from https://github.com/SymbiFlow/symbiflow-examples, as everything should be installed into user local folders.  Which commands/steps are believed to require `sudo`?

[2020-09-08 17:23] litghost commented on #45
If I had to guess, the fact that:
[code]

is part of `/opt` is the issue.  Rather than rooting the install to `/opt` it probably just belongs in the users home folder by default, like:

[code]

and then the `sudo` stuff can be dropped.  If the user wants to install into a folder off of root, then can handle the permissions independent of the instructions.

[2020-09-11 22:32] mithro opened #49 "Convert to make env in CI."
This repo should use https://github.com/SymbiFlow/make-env (as submodule) rather than the older scripts copied from Google/SkyWater-pdk

[2020-09-18 18:37] litghost commented on #48
@tcal-x encountered this too, my suggestion to fix it is https://github.com/SymbiFlow/symbiflow-examples/pull/50#issuecomment-695023303

[2020-09-19 17:46] mithra6 opened #52 "Symbiflow_synth command not found"
While execute my code i am getting the following error:
Symbiflow_synth command not found

[2020-09-19 17:47] #52 closed

[2020-09-21 19:57] tcal-x commented on #48
@kamilrakoczy -- if you have not started on the fixes suggested in Keith's comment, or plan to start soon, I'll take a whack at it.

[2020-09-22 11:04] kamilrakoczy commented on #48
@tcal-x No, I didn't started this, feel free to fix this.

[2020-09-24 22:54] litghost commented on #48
This was fixed in #50

[2020-09-24 22:54] #48 closed

[2020-09-24 22:56] litghost commented on #45
@SSandeep19 The instructions have been updated such that the sudo shouldn't be required!  We believe this issue is fixed, so I'm going to close this issue.  If you find you still have an issue, let us know!

[2020-09-24 22:56] #45 closed

[2020-09-24 22:56] litghost commented on #27
I believe this issue can be closed, @tcal-x ?

[2020-09-25 00:26] tcal-x commented on #27
Yep, two examples, one big one small!

[2020-09-25 00:26] #27 closed

[2020-09-29 13:09] rodrigomelo9 opened #54 "How to install from sources and where is the doc about the commands?"
Hello. I want to know from which repository are the symbiflow tools (symbiflow_synth, symbiflow_pack, etc) generated. Also, I want their documentation. Is enough to point me to the right doc. Are Yosys+nextpnr+icestrom tools, for example, completely replaced by the symbiflow tools? (in this repository, there are only examples of Xilinx and QuickLogic).

Thanks,
Rodrigo

[2020-09-29 15:31] mithro commented on #54
The packages in conda are generated using the repo at https://github.com/SymbiFlow/conda-packages

[2020-09-29 15:35] mithro commented on #32
@PiotrZierhoffer / @kgugala - Could you look at getting someone to look into this?

[2020-09-29 15:35] mithro commented on #31
@PiotrZierhoffer / @kgugala - Could you look at getting someone to look into this?

[2020-09-29 15:37] mithro commented on #54
@kgugala Could you help @rodrigomelo9 to find these?

[2020-09-29 15:38] mithro commented on #54
@rw1nkler - I think this means we need some documentation updates?

[2020-09-30 12:12] rodrigomelo9 commented on #54
Hi @mithro, thanks. In the meantime, are the commands symbiflow_synth, symbiflow_pack, etc, exactly the same as yosys, nextpnr (-ice40 or -ecp5, according to the case), etc? Or are they new binaries with any difference?

I think that this info is missing, and must be put somewhere at https://symbiflow.readthedocs.io/en/latest/toolchain-desc.html
If I undestand, I can help :-D I want to add symbifl

[2020-10-13 00:32] mithro opened #56 "Add Music box example from FPGA4Fun to symbiflow-examples"
https://www.fpga4fun.com/MusicBox.html

[2020-10-13 00:34] mithro opened #57 "Add all fpga4fun - "FPGA projects - Basic" examples to repository"
fpga4fun.com has an great little set of "basic" FPGA projects. We should add them to symbiflow-examples (license permitting);
[code]

[2020-10-13 00:35] mithro commented on #57
@alanvgreen

[2020-10-13 00:36] mithro commented on #56
PTAL - @alanvgreen

[2020-10-13 07:44] tcal-x opened #58 "Error with "make README.rst": "TypeError: Got secondary option for non boolean flag.""
This only affects you if you're updating README.rst.

To reproduce, remove README.rst (`rm README.rst`), then run `make README.rst`.   After packages are downloaded and the conda env is entered, I see this:

[code]

I'm running Ubuntu 20.04.1 LTS.

[2020-10-13 17:56] tcal-x commented on #58
After cleaning out symbiflow-examples, then manually going through the toolchain installation steps again, and activating the conda 'xc7' environment, I was able to `make README.rst` without seeing the same error.

So, I'll close this.   However, the `make README.rst` flow seems strange.   Even when I just installed and entered a brand new conda environment, doing `make README.rst` redoes the enti

[2020-10-13 17:56] #58 closed

[2020-10-13 19:09] tcal-x commented on #3
I can't find information about putting the bitstream from the eos-s3 example onto my quickFeather board.

[2020-10-13 20:50] mithro commented on #58
@tcal-x - Can you log a bug to investigate that?

[2020-10-13 21:05] tcal-x opened #59 "Redundant conda download when doing 'make README.rst'"
Offshoot of issue #58 .

Even if I have just gone through the conda and toolchain installation manually and entered the 'xc7' conda environment, when I attempt `make README.rst`, it seems to do the entire conda thing all over again.   Is it slightly different?   Or is the Makefile not recognizing that this dependency is already met?

Also, if this can be done automatically, triggered by the 'make'

[2020-10-14 21:59] mithro opened #61 "Add quadcore VexRISCV example from Antmicro blog post"
The design described at https://antmicro.com/blog/2020/05/multicore-vex-in-litex/ should be an example in this repository.

[2020-10-14 21:59] mithro commented on #61
FYI - @acomodi / @kgugala

[2020-10-15 17:34] tcal-x commented on #3
@kgugala , from the thread you have with Olof on #symbiflow, it seems I need extra hardware (a dongle like [this](https://plaes.org/technotes/embedded-systems/ftdi-ft232h-for-hardware-hacking/#usb-to-swd)) to directly load a bitstream onto QuickFeather?   Or am I misunderstanding?

[2020-10-21 00:33] mithro commented on #31
@kgugala - Can you sync up with @PiotrZierhoffer and see what needs to be done to get this finished?

[2020-10-21 00:33] mithro commented on #32
@kgugala - Can you sync up with @PiotrZierhoffer and see what needs to be done to get this finished?

[2020-10-21 00:38] mithro commented on #30
@PiotrZierhoffer -- I think we fixed this with @kamilrakoczy's work in https://github.com/SymbiFlow/symbiflow-examples/pull/46?

[2020-10-21 00:43] mithro commented on #30
Looks like Ubuntu versions are covered and Centos too.

Open question about Debian, RHEL and Fedora?

@pgielda Might have an opinion on if Gentoo support makes sense..

[2020-10-27 16:35] mithro opened #62 "Add example of doing post place and route simulation"
Advanced users might want to do simulation of their system after place and route. This was something that @QuickLogic-Corp was very interested in. The VtR docs also have this functionality described at https://docs.verilogtorouting.org/en/latest/tutorials/timing_simulation/

It should be extremely simple to do this.

[2020-11-16 19:04] mithro opened #63 "Add Nexys Video examples into the repository"

[2020-11-16 19:06] mithro commented on #63
Blinky is already in fpga-perf-tool and symbiflow-arch-defs?

[2020-11-16 19:08] mithro commented on #63
https://github.com/SymbiFlow/symbiflow-arch-defs/tree/master/xc/xc7/tests/soc/ibex

[2020-11-17 17:14] andrewb1999 commented on #63
@mithro Is there a tar available with a stable a200t rr graph/architecture?  I'm interested in getting some other people to use the nexys video with symbiflow, so I would be willing to add some examples here when I have time.

[2020-11-17 17:40] mithro commented on #63
@andrewb1999 - I'm wrong person to ask. Maybe @acomodi / @mkurc-ant / @rw1nkler can answer?

[2020-11-22 14:02] scted opened #65 "None of the XC7 tests are running ... easy fix"
Cause is that there is a comment included in the prepare environment snippet

`# adding symbiflow toolchain binaries to PATH`

Got rid of the comment and the tests run ... all pass except for the xc7-litex which i am working on and will report separately

[2020-11-22 14:05] mgielda commented on #43
As per the README note, GitHub has too little storage to fit all of SF arch defs for series 7. So until that is resolved, we are somewhat stuck with Travis.

[2020-11-22 14:16] mgielda commented on #43
Having said that I am on arch so lemme at least get this running locally ;)

[2020-11-22 16:19] scted opened #66 "xc7-litex failing"
failing in travis.ci

pre-req is fixissue 65 to get tests running

progress so far fixing is that the litex stuff is being installed outside of the symbiflow-examples directory so a cd needs to happen ... see line 5
![image](https://user-images.githubusercontent.com/2945762/99909109-6a4e4700-2c9b-11eb-97cd-0721f5b79b0a.png)

i would prefer if the install instructions gave the user a measure contro

[2020-11-22 23:15] #65 closed

[2020-11-22 23:17] pgielda commented on #66
Indeed this seems to fail on ubuntu:trusty and old centos but not on other OSes? (other OSes have travis timeouts but that is much later in the run)

[2020-11-22 23:18] pgielda opened #69 "travis cannot run tests over 50m"
We have tests that run over 50m limit of Travis, so they fail.
We need to temporarily comment at least one of the tests in travis.yml to bring back green CI and then find a better solution.

[2020-11-22 23:43] scted commented on #66
i just tested it on Ubuntu:focal

[2020-11-23 10:29] acomodi commented on #63
@andrewb1999 The latest tars produced by symbiflow-arch-defs master do contain the 200T data files ([latest](https://storage.googleapis.com/symbiflow-arch-defs/artifacts/prod/foss-fpga-tools/symbiflow-arch-defs/continuous/install/98/20201120-093358/symbiflow-arch-defs-install-d5f8ce8d.tar.xz))

[2020-11-23 18:32] scted commented on #66
still not passing ubuntu:focal fwiw

erroring out for the directory issue:
![image](https://user-images.githubusercontent.com/2945762/100000566-9be81080-2d76-11eb-9a2a-957fd1c14c22.png)

i assume it will fail later in symbiflow.py line 103 (see above for Traceback) which is

`if tools.subprocess_call_filtered(shell + [script], common.colors) != 0:`

i can't find reference to 'shell', 'script' or '

[2020-11-23 18:45] acomodi commented on #66
if tools.subprocess_call_filtered(shell + [script], common.colors) != 0:

i can't find reference to 'shell', 'script' or 'common' anywhere in symbiflow.py

Hi @scted, this issue has been solved in litex upstream, and the error should not appear anymore if you get the latest litex version (I think you can do .`/litex_setup.py update install` to get the latest)

[2020-11-23 21:38] scted commented on #66
@acomodi

i still can't get it to complete in Travis (see bottom for Traceback) ... now failing line 84 ... apologies if it is usererror on my part

![image](https://user-images.githubusercontent.com/2945762/100018060-b29b6100-2d90-11eb-8ddc-8dc3a04aac63.png)

tools.subprocess.py not returning 0 ... way beyond my capability to troubleshoot

![image](https://user-images.githubusercontent.com/294576

[2020-11-25 23:29] mithro opened #74 "Add a SaxonSoC based example"
@Dolu1990 has [a SoC written entirely in SpinalHDL called SaxonSoC.](https://github.com/SpinalHDL/SaxonSoc). The SoC supports the Arty-A7 with things like DDR and Ethernet.

This would be another good test option for the SymbiFlow examples.

[2020-11-26 19:33] kgugala commented on #69
We've migrated CI to GH-actions. This is no longer an issue

[2020-11-26 19:33] #69 closed

[2020-11-26 19:39] kgugala commented on #43
We've split the arch definitions into separate packages for every supported device type. Also, we've split the tests into separate jobs for every device-test combination.

With the above changes we were able to use gh-actions.

[2020-11-26 19:39] #43 closed

[2020-11-30 11:09] rw1nkler commented on #66
@scted I think that we resolved all the problems here (according to https://github.com/SymbiFlow/symbiflow-examples/pull/73#issuecomment-734935737) and we can close this issue. Is that true?

[2020-11-30 16:08] #66 closed

[2020-11-30 16:08] scted commented on #66
thanks

[2020-11-30 23:01] scted commented on #66
@rw1nkler FYI, there is a discrepancy between the Litex arty platform and the new migen arty_a7 platform ... was using that because i am using migen to build my own stuff ... the migen stuff almost works but it says the device is 'xc7a35tic324-1L' ... symbiflow was failing at step 8 of synth ... i changed the device to 'xc7a35tic324-1' and everything worked ... not sure where to report that ... lo

[2020-11-30 23:09] rw1nkler commented on #66
@scted Thank you for reporting this! This is a good place to report any problem with the SymbiFlow Toolchain.
I would suggest opening a separate issue for that, to track the problem. (This issue is closed)
In fact, I probably know what is causing the problem. Can you please open a separate issue with the information that you gave above? Can you also provide more detailed information on how to repr

[2020-12-01 16:43] scted opened #80 "partname discrepancy buildscripts generated by litex and those provided in the examples"
Examples Makefiles define PARTNAME := xc7a35tcsg324-1 => toolchain builds

I created a Migen design from scratch and migen.build.platforms.arty_ay7.Platform uses 'device="xc7a35ticsg324-1L"' as does litex.boards.platforms.arty.Platform

The migen/litex generates a buildscript that is close to but different than the one in the examples and it doesn't work ... the obvious things were 'synth' instead

[2020-12-06 15:20] scted opened #82 "Migen - Cat() simulation not matching verilog when Cat object is sliced"
Have spent a week on this so far.  Cat() not behaving as i expect when i use slices Cat_object[slice] ...

Have tried a number of permutations ... assigning to a slice  ... Cat_object[n].eq(rhs) or from a slice ... lhs.eq(Cat_object[n])

The verilog (good and bad) has been tested in HW with both Vivado and Symbiflow ... it is not the toolchain that is a problem.

Possible that I do not understand

[2020-12-06 16:52] mithro commented on #82
Hi @scted,

This sounds like a Migen issue, not something that is specific to symbiflow-examples? Migen issues can be reported as https://github.com/m-labs/migen

Thanks,

Tim @mithro Ansell

[2020-12-06 18:08] scted commented on #82
almost certainly migen ... was told to report anything remotely related to the examples (using the migen installed by the examples) here but will also post on m-labs

[2020-12-08 03:05] scted commented on #82
@mithro FYI ... https://github.com/m-labs/migen/issues/228

real issue with a workaround ... which is to assign the Cat object to an intermediate signal of equal size and then slice the intermediate signal

do you know anything about ghdl? ...  "Is this any good? https://github.com/ghdl/ghdl-yosys-plugin"

m-labs think emitting vhdl would be better ... seems like verilog may be difficult and error

[2020-12-08 09:27] kgugala commented on #82
Hi @scted I did some a fast check how your example behaves in [nMigen](https://github.com/nmigen/nmigen). Had to tweak the code a little to nMigen compliant:

[code]

And I got the following Verilog:

[code]
The generated Verilog is much simpler than the one from migen. Also it looks correct - slicing worked fine here.

[2020-12-08 21:50] scted commented on #82
@kgugala  ... cool  ... might give nMigen a try and see what i can break:)  ... interesting the Yoysy is generating the code.

[2020-12-08 21:50] #82 closed

[2020-12-11 16:25] mithro opened #92 "Add license checking github actions to this repository"

[2020-12-14 08:28] rw1nkler opened #93 "Improve automation in CI / CI checking scripts"
Rework the CI scripts to make them able to extract all the necessary information about the available examples directly from the sphinx-based documentation. For more information, see the discussion in https://github.com/SymbiFlow/symbiflow-examples/pull/88#discussion_r541060922

[2020-12-14 08:43] rw1nkler opened #94 "Generate a CI build matrix automatically"
Currently, the CI's build matrix is created manually and contains all the valid combinations of different configuration variables. However, it is possible to generate the matrix automatically. An example of that can be found here:
https://github.com/SymbiFlow/symbiflow-arch-pkgs/blob/master/.github/workflows/build.yml#L9-L32
This can potentially help us simplify the CI configuration, and the tutte

[2020-12-14 13:51] rw1nkler opened #95 "Improve the quality of images in the sphinx-based documentation"
Make sure that all the graphics used in the documentation have a good quality, are readable, and stabilized.
See the comments in  https://github.com/SymbiFlow/symbiflow-examples/pull/88#pullrequestreview-550239488

[2020-12-14 15:37] mithro opened #96 "Build badge is broken"
![Screenshot from 2020-12-14 07-37-27](https://user-images.githubusercontent.com/21212/102101284-433cee00-3ddf-11eb-993a-7d0351787920.png)

[2020-12-14 16:15] #96 closed

[2020-12-15 17:44] rw1nkler opened #101 "Move the information about the toolchain installation back to the FPGA family directory"
We should move the information about the toolchain installation back to the FPGA family directory. After that, we will have a README file in every important directory. This will help potential users to navigate the project.

[2020-12-18 03:28] tcal-x opened #106 "issues with xc7 instructions for openocd"
If this addressed by a PR in flight, just close this.

I'm going through the examples at https://symbiflow-examples.readthedocs.io/en/latest/building-examples.html .

After the counter example is built, the user is told to execute the following to program the part with the bitstream:

[code]

There are two things wrong with this:
* `digilent_arty.cfg` is not at the provided path.  In fact I cannot

[2020-12-18 06:23] kgugala commented on #106
can we rewrite the guide to use https://github.com/trabucayre/openFPGALoader? This tool is way simpler to use than openOCD and it supports xc7 boards we target

[2020-12-18 16:18] tcal-x commented on #106
I'd be willing to give it a try if it simplifies things overall.
* is it easy to add to the downloads/packages for the user, or can they install it with apt-get?
* it has an AGPL license -- is that an issue?

[2020-12-18 18:31] kgugala commented on #106
this is not an issue if we just use it as a third party tool. (BTW openocd is GPL licensed)

[2020-12-18 18:52] mithro commented on #106
@kgugala - I'm afraid we can't touch anything which is **A**GPL. GPL is fine.

[2020-12-18 18:53] mithro commented on #106
https://opensource.google/docs/using/agpl-policy/

[2020-12-18 18:54] kgugala commented on #106
oh, OK. So we need to fix openocd instructions then

[2020-12-18 20:07] mithro commented on #106
@kgugala - If anyone has a good relationship with the openFPGALoader people, it might be worth talking to them and seeing if they would consider "downgrading" to just GPL (rather than AGPL) -- which means we could then use them. I'm not sure the AGPL makes a lot of sense for their software anyway - the additions in AGPL are mainly focused towards "web" technologies like databases, web apps, etc.

[2020-12-18 21:06] pgielda commented on #106
Seems its more than one person but the main committer is gwenhael.goavec-merou@trabucayre.com

[2020-12-19 13:55] pabigot commented on #106
In case it's relevant:  `digilent_arty.cfg` seems to be found in the openocd that comes from the litex::openocd conda package, which is incompatible with python 3.8 which is installed following the directions in this repository.

I'm not seeing any obvious difference between `digilent_arty.cfg` and the `arty_s7.cfg` in upstream OpenOCD which can be installed outside of conda.  Although I've succes

[2020-12-20 06:38] tcal-x opened #108 "Error encountered with FASM, antlr_to_tuple, running xc7 counter example"
After a clean install of xc7 tools according to the symbiflow-examples instructions, I get to the first example to run (https://symbiflow-examples.readthedocs.io/en/latest/building-examples.html):
[code]
and this runs Symbiflow but ends with this error:
[code]
Maybe things are just temporarily out of sync.   Feel free to close this if this is a known/expected issue.
FYI @HackerFoo in case you have

[2020-12-20 06:53] HackerFoo commented on #108
Could you please try:

[code]

 and post the results? Thanks.

[2020-12-20 19:30] tcal-x commented on #108
Result:
[code]
Then
[code]
but the result is the same
[code]

[2020-12-20 20:48] HackerFoo commented on #108
The ANTLR parser has some dependencies outside of PyPI, which is why the fallback parser is necessary.

Could you please post the results of:

[code]

Thanks.

[2020-12-20 21:36] tcal-x commented on #108
...descending into package hell...
[code]
If I go ahead with the clone and attempt to build:
[code]

[2020-12-20 21:38] andrewb1999 commented on #108
I also run into the same issue with antlr_to_tuple, so it's not an isolated issue.

[2020-12-20 22:15] mithro commented on #108
Any idea why this isn't appearing in the CI?

[2020-12-20 22:16] HackerFoo commented on #108
You'll definitely need `cmake`. Once you have a working `cmake`, `pip install -v git+https://github.com/SymbiFlow/fasm.git` should install the Cython requirement automatically.

@mithro CI has `cmake` intalled: https://github.com/SymbiFlow/fasm/blob/master/.github/workflows/presubmit.yml#L62

[2020-12-20 22:19] HackerFoo commented on #108
I think the warning would be more helpful if it just referred to the [build instructions](https://github.com/symbiflow/fasm#build-instructions).

[2020-12-20 22:28] andrewb1999 commented on #108
@HackerFoo I do have cmake installed.  Here is the output of `pip install -v git+https://github.com/SymbiFlow/fasm.git`:
[code]

[2020-12-20 22:29] tcal-x commented on #108
I do have cmake -- as a Python module.

[code]

In other instructions that asked me to `sudo apt install cmake <other packages>`, I'd just skip the cmake and it would be ok.

But, let me get to the bottom of why the apt install of cmake doesn't work for me.

[2020-12-20 22:33] HackerFoo commented on #108
@andrewb1999 I can see that `cmake` failed, but unfortunately not why. This should print the output from `cmake`:
[code]

[2020-12-20 22:35] mithro commented on #108
![SymbiFlow Environment Providers](https://user-images.githubusercontent.com/21212/102726081-9e377f00-42d0-11eb-9f25-d4a10e909b8c.png)

[2020-12-20 22:41] andrewb1999 commented on #108
@HackerFoo Looks like it's not getting the cython dependency correctly (same issue as @tcal-x )
[code]

[2020-12-20 23:15] mithro commented on #108
`python setup.py` won't install dependencies, all dependencies must be preinstalled. You probably want something like `pip install .` if you want packages to be installed.

[2020-12-21 01:17] tcal-x commented on #108
My problems installing `cmake` with `apt` seem to have originated from having "kitware" as a source.   After I removed that, I was able to install `cmake`.   I'll try the install again and see if it goes any better.

[2020-12-21 05:23] tcal-x commented on #108
I ran this to take care of the Cython requirement:
[code]
Then I followed the instructions on the page https://github.com/symbiflow/fasm#build-instructions including the `sudo apt install ... libantlr4-runtime-dev` and the `git submodule update --init`, and after that, the `make build` succeeded.   I did this install (also from the page mentioned earlier) while still in the conda environment ("xc7

[2020-12-21 09:24] acomodi opened #109 "Fix counter example"
The counter example is not working as expected.

Loading the bitstreams on both the 35t and 100t produces no effects, and LEDs are not blinking as expected.
This issue was discovered in https://github.com/SymbiFlow/symbiflow-examples/issues/106.

There are two different problems to be addressed:

- Missing openocd conda package (currently non-present in the environment file).
- Broken counter desi

[2020-12-21 10:48] acomodi commented on #106
@pabigot @tcal-x I have opened a [PR](https://github.com/SymbiFlow/symbiflow-examples/pull/110) to:

- fix the absence of openocd in the env (and also the link to the config file);
- fix the non-working counter test for arty. There was a typo in the constraints files which messed up the IOSTANDARD values of the LEDs IOPADs.

[2020-12-21 13:35] #109 closed

[2020-12-21 16:29] acomodi opened #113 "LiteX: Add missing CPU-types"
PR https://github.com/SymbiFlow/symbiflow-examples/pull/111 adds various LiteX examples for arty-35 and arty-100.

Each example implements a different CPU core type, and #111 currently adds picorv32 and VecRiscv.

There are other CPU-types that can be implemented.

### With fixes in the toolchain/tools

- **minerva**: This requires https://github.com/SymbiFlow/symbiflow-arch-defs/pull/1906 to be m

[2020-12-22 17:08] mithro commented on #113
I have a spreadsheet @ https://docs.google.com/spreadsheets/d/1XTHfdYXuvwoYdPXm4M6qDA0D2fZCPy220-9q6qZpTw4/edit#gid=1326111379 -- maybe we should add a SymbiFlow tab?

[2021-01-05 17:46] litghost commented on #108
What is the status of this?

[2021-01-05 18:32] HackerFoo commented on #108
The Conda environment.yml should provide all necessary dependencies after https://github.com/SymbiFlow/symbiflow-arch-defs/pull/1908

[2021-01-05 19:36] HackerFoo commented on #108
It looks like the install instructions specify an older version of the toolchain. Should this be automatically updated somehow? There are "latest" text files that specify the latest URL: https://github.com/litex-hub/litex-conda-eda/blob/master/pnr/vtr-optimized/build.sh#L34-L53

[2021-01-05 23:28] HackerFoo opened #115 "Automatically update SymbiFlow toolchain URLs"
Static URLs are checked in at: https://github.com/SymbiFlow/symbiflow-examples/blob/master/docs/getting-symbiflow.rst

These should be updated automatically somehow to the latest version.

Related: https://github.com/SymbiFlow/symbiflow-examples/issues/28, https://github.com/SymbiFlow/symbiflow-examples/issues/108

[2021-01-19 21:45] tcal-x commented on #108
I've assigned this to myself to check if the issue has been resolved.

[2021-01-20 08:26] tcal-x commented on #108
Nothing has changed; I still see the original error.

It seems we either need to address #115, or, as a band-aid, manually update the versions.

[2021-01-24 07:47] tcal-x commented on #108
Correction: the final warning from fasm looks like failure, but in fact **a bitstream is produced**, and it works correctly on the Arty 35T board (`counter_test` example).

I had noticed in Quicklogic guides for QORC, they specifically describe this warning and tell the user that it's ok.

This is the warning:
[code]

[2021-01-24 19:50] tcal-x opened #119 "Improve out-of-memory error during fasm generation (seen in nexys_video counter_test example)"
My laptop has 10GB available according to /proc/meminfo.  I see this error running the `counter_test` example with `TARGET=nexyx_video`:

[code]
The file `build/nexyx_video/top.fasm` is left behind.  **Is it partially written?**   If I run the `make` command again, `top.bit` is generated from `top.fasm`.   **Is the top.bit file correct?**

I have two concerns here:
* The user should get a clear "o

[2021-01-25 16:46] mithro commented on #119
Ideas?

[2021-01-25 16:47] mithro commented on #119
Makefiles do have a remove file on failure option?

[2021-01-25 16:48] mithro commented on #108
@tcal-x - Yes, that is a warning but means the command will be much slower. We should make sure the fast path is what most people get by default.

[2021-01-25 18:24] litghost commented on #119
We need to add `.DELETE_ON_ERROR`.  @tcal-x, can you please retest your case with `.DELETE_ON_ERROR` in the makefile?

[2021-01-25 18:25] litghost commented on #119
Link to relevant documentation: https://www.gnu.org/software/make/manual/html_node/Errors.html#Errors

[2021-01-25 21:26] tcal-x commented on #119
@litghost , yep, that works.   I'll open a PR with the change.

I could also add a message on failure, "If you see 'Killed...' above, the process may have been unable to allocate sufficient memory".

[2021-01-25 22:23] Xiretza opened #120 "counter_test example hits yosys ABC9 assert during synth"
As discussed on IRC, trying to build the xc7/counter_test example results in a failed assertion in yosys during synth with my build configuration. Below are the exact steps to (hopefully) reproduce this issue using vanilla/unpatched yosys, yosys-symbiflow-plugins, symbiflow-arch-defs and prjxray-db.

[code]

The failing step is the second ABC9 run, line 158 in `/tmp/reproduce/install/share/symbifl

[2021-01-25 22:28] Xiretza commented on #120
Here are the checksums of my build files, I have also attached them in case the build isn't reproducible:

[code]

[artifacts.tar.gz](https://github.com/SymbiFlow/symbiflow-examples/files/5870034/artifacts.tar.gz)

[2021-01-27 09:56] donn opened #122 "Nothing for Icestorm?"
Hey, despite Symbiflow mentioning ice40 support based on icestorm being supported, there seems to be no mention of it in this repo.

Is this anywhere on the radar?

[2021-01-27 16:18] pgielda commented on #122
Those are indeed VPR-based Symbiflow examples. Long term, yes I think its on the radar, short term probably not. Same thing goes for Windows and Mac support, its on the radar, in fact we are already packaging parts of the toolchain for Win and Mac, but for now only Linux is being tested/supported.

[2021-01-27 16:26] mithro commented on #122
@donn - As the icestorm / nextpnr flows already have a lot of good tutorials, we have been focusing on the areas which are still lacking. We would love to see some contributions for them however!

[2021-01-27 23:39] nickoe opened #123 "nmigen tilegrid.json path issue when using symbiflow toolchain"
@litghost were very persisten that I should create an issue about this one in this repo, so here it is.

The error in short is:
[code]
Essentially it looks like the path to `tilegrid.json` is wrong, it is missing the `artix7` folder that contains `xc7a35tcpg236-1`.

[code]

I am trying to use the symbiflow toolchain with nmigen, and I had to patch a little so it is not stright forward to test, but

[2021-01-28 12:37] acomodi commented on #123
Thanks for filing this issue @nickoe!

I could reproduce the error and found the solution. Basically what is missing is the `-d` parameter to [write_bitstream](https://github.com/nickoe/nmigen/blob/b1af42fa046b302545b0fb79fc6e40897f4d540c/nmigen/vendor/xilinx_7series.py#L261-L264) which identifies the FPGA family (artix7, zynq7, kintex7, etc), to get the correct database info.

By adding that, and

[2021-01-28 12:43] nickoe commented on #123
@acomodi Thank you for investigating, I will try that when I get home and update my PR to nmigen.

[2021-01-28 16:32] tcal-x commented on #123
@nickoe & @acomodi , this is great!

[2021-01-28 17:38] mithro commented on #123
There should probably be a much better error messages?

[2021-01-28 17:50] nickoe commented on #123
@mithro I am not sure anything easy can be done for that, but the `symbiflow_write_bitstream` does not seem to have any help text, so I don't really know what args it takes.

[2021-01-28 18:13] mithro commented on #123
@acomodi logged https://github.com/SymbiFlow/symbiflow-arch-defs/issues/1985 -- That should most certainly be fixed!

[2021-01-28 18:34] nickoe commented on #123
Mmm, I think the is a regression in the symbiflow_write_bitstream, I patched that, but it still errors about the `tilegrid.json` missing. It  appears that this file is only defined for some devices, is this expected?

[code]

[2021-01-28 18:38] nickoe commented on #123
Ok, the last thing with the tilegrid appears fixed with `conda install -c litex-hub prjxray-db=0.0_0239_gd87c844=20201120_145821`.

[2021-01-28 18:48] nickoe commented on #123
It appears that the suggestion proposed in https://github.com/SymbiFlow/symbiflow-examples/issues/123#issuecomment-769025271 is not required, but certainly related to the issue. There was a bug in `symbiflow_write_bitstream`, it should find the db root by  itself, there is a proposed patch in:

https://github.com/SymbiFlow/symbiflow-arch-defs/pull/1986

[2021-01-29 20:24] tcal-x commented on #63
I've built the counter example for the Nexys Video board, but now I'm not sure how to proceed.

On https://symbiflow-examples.readthedocs.io/en/latest/building-examples.html -- does the same OpenOCD config file work with the Nexys Video board?   How should JP3 be configured, "SD" or "USB"?  What about JP4, "QSPI", "JTAG", "USB/SD"?

We also need additions to the [Running example designs](https://s

[2021-01-31 21:05] nickoe commented on #123
This is resolved with this fix in arch defs, https://github.com/nickoe/symbiflow-arch-defs/commit/e16b2095665a5ae390047d6649d3b2d3b44bc333

[2021-01-31 21:05] #123 closed

[2021-02-01 22:00] jgoeders commented on #108
I was also running into this.  Although there is a fallback, the warning would be printed to my fasm file, which would then break things:
[code]

I followed @HackerFoo 's instructions and did the following:
[code]

After which I realized I needed to:

1. Make `python` point to `python3`.  (I'm using Ubuntu 20 where `python` points to nothing by default.  I just added `alias python=python3` to my `

[2021-02-01 22:49] tcal-x commented on #108
in fasm/, "make build" is now giving me this:

[code]

[2021-02-01 22:57] litghost commented on #108
Couple things.  First, we have an PyPi account setup, so if someone adds a PyPi publish to https://github.com/symbiflow/fasm, this issue becomes must easier to solve!

Second, there are instructions in https://github.com/SymbiFlow/fasm/blob/master/README.md on how to build FASM with the ANTLR parser.

[2021-02-01 23:01] tcal-x commented on #108
Ok, I think it is resolved.   I was able to generate the bitstream without the fallback warning:

[code]

[2021-02-01 23:01] #108 closed

[2021-02-19 11:16] Mattia9875 opened #124 "Modify requirements.txt to accomodate changes in fasm"
In ```xc7/requirements.txt```
substitute ```git+https://github.com/symbiflow/fasm```
with ```--no-use-pep517 git+https://github.com/SymbiFlow/fasm.git#egg=fasm```

as of [issue](https://github.com/SymbiFlow/fasm/issues/60) over on /symbiflow/fasm

[2021-02-19 16:57] litghost commented on #124
Now that `fasm` is on PyPi, the xc7/requirements can just remove the `fasm` requirement completely now that it is in PyPi.

[2021-02-19 18:48] Mattia9875 commented on #124
You mean that in the sense that i could do it on my system? or that is the general way to fix it?

[2021-02-19 19:00] litghost commented on #124
As in you/I could submit a PR to fix this?

[2021-02-19 20:11] Mattia9875 commented on #124
Yes, though Tim responded on the issue I cited saying that he is currently working on in so I don't know how this issue will stand

[2021-02-24 01:19] rodrigomelo9 opened #126 "Question about constraints"
Hi. It seems that both, `pcf` and `xdc` are supported.

I was comparing the three xc7 examples. Taking for example `arty`, I found:
* `counter_test/arty.xdc`
* `linux_litex_demo`:
    * `arty.pcf`
    * `arty.xcf`
* `picosoc_demo/arty.pcf`

Comparing the `Makefiles`:
* For `symbiflow_synth`, `counter_test` and `linux_litex_demo` specify `-x ${XDC}` (don't used by `picosoc_demo`)
* For `symbiflow_p

[2021-02-24 01:23] litghost commented on #126
We are moving to XDC, but some of the old demos were written when only PCF support existed.

[2021-02-24 01:31] rodrigomelo9 commented on #126
Ok, great. What about to specify in `symbiflow_synth` instead of `symbiflow_place`? Is it the final destination? (`symbiflow_synth`?) There, we can specify the timing and place constraints?

[2021-02-24 17:30] mithro commented on #126
I think that is just a mistake?

[2021-02-24 17:31] mithro commented on #126
@acomodi / @kgugala -- Thoughts?

[2021-02-24 17:46] acomodi commented on #126
@rodrigomelo9 It actually is expected it to be like that.

- PCF: this type of constraints is only concerning placement of IOs, therefore it is required during `symbiflow_place` as the placement constraints are read at that step only (and a constraints file tailored for VPR is generated as output)
- XDC: this file can contain different kind of constraints and not only placement ones (e.g. timing,

[2021-02-24 18:37] mithro commented on #126
@acomodi -- This seems incorrect. The XDC should contain the IO placements (as well as other constraints)? Is the problem that we are missing a tool which generates the IO constraints file for VPR from an XDC input?

[2021-02-24 18:40] acomodi commented on #126
@mithro This is what is happening, the XDC contains all kinds of constraints. The yosys plugin can read them and save them in the eblif, for the io place constraints script to generate the VPR constraint files

[2021-02-24 18:44] mithro commented on #126
@acomodi -- So the PCF file is being generated by the output of Yosys which is then converted into the correct format needed by VPR?

[2021-02-24 18:49] acomodi commented on #126
@mithro No. There are two independent flows concerning IO placement constraints, depending on what the user chooses:
XDC flow: yosys parses the file and saves the constraints in the eblif. The placement constraints script will read from the eblif and generate the VPR constraints. No PCF is produced
PCF flow: yosys does nothing. The placement constraints script reads the PCF and generates the VPR c

[2021-02-24 19:51] mithro commented on #126
I think we might have discussed this previously. We should hand in the PCF at the same place we hand in the XDC and then the rest of the flow should be the same.

See https://github.com/SymbiFlow/yosys-symbiflow-plugins/issues/30 and maybe https://docs.google.com/drawings/d/1r2LXypJF5AD40LfHegml3_fIvPT2jZ3n2OZYW9-9dLU/edit ?

[2021-02-25 00:25] rodrigomelo9 commented on #126
Thanks. My question was answered, so this issue can be closed if you want (I mean, it seems that @mithro detected another problem, but that is not what this issue was about).

Regards

[2021-02-27 20:12] kgugala commented on #120
@Xiretza I know what is going on here. Yosys built with gcc used to in packages builder CI does not call asserts at all - they are optimised out.

Here is the part of the code where you hit assert:

[code]
When built with the GCC used to build the package it gives the following result:

[code]
All the `log_assert` calls have been optimised out.
The same dump from gcc on my machine gives the follow

[2021-02-27 20:24] Xiretza commented on #120
What's the `yosys -V` of the CI build? Maybe it's built with `ENABLE_NDEBUG`?

[2021-02-27 20:28] kgugala commented on #120
[code]

[2021-02-27 22:31] Arvind-Srinivasan commented on #120
I can confirm the the issue is resolved on my system when I compiled the latest Yosys version `Yosys 0.9+3683 (git sha1 40d9e120, gcc 10.2.0-13ubuntu1 -fPIC -Os)` from the [Symbiflow Yosys Repo](https://github.com/SymbiFlow/yosys) and using the pinned commit `40efa51` of the [Yosys Symbiflow Plugins](https://github.com/SymbiFlow/yosys-symbiflow-plugins)

[2021-02-28 07:43] Arvind-Srinivasan opened #127 "picosoc_demo example hits yosys ABC9 assert during synth"
As mentioned in Slack, following the steps in issue #120 as @Xiretza except attempting to build the picosoc_demo results in a similar issue with an assert failing
[code]
However, it seems that this can be resolved successfully by commenting out that specific assert on line 616 which is seemingly not present in the Conda packaged version.

[2021-03-01 18:56] Ravenslofty commented on #120
Alternative fix:

[code]

I think this is a poor error message on the part of ABC9, but I think the assert is sound and correct.

[2021-03-01 18:58] litghost commented on #120
Will `lib_whitebox` allow ABC9 to optimize through the CARRY4?  Because we specifically need ABC9 to leave the CARRY4 alone at this part of the flow.  I want ABC9 to be able to do timing analysis of the CARRY4, but only want it handle the LUT's on the outputs, not try to optimize the carry logic itself.

[2021-03-01 19:17] Ravenslofty commented on #120
Yes, though I believe it only removes completely-undriven carry logic. I think the solution is for the Python script to mark all `CARRY4_VPR` cells as `(* keep *)`, which turns carry logic pins into primary inputs/outputs when passed to ABC.

[2021-03-01 19:20] litghost commented on #120
In the past, ABC9 was smart enough to completely swap pins and remove logic, so we need something to suppress that behavior.  If `(* keep *)` will do that, that should work.

[2021-03-01 19:23] Ravenslofty commented on #120
The Yosys pass itself uses this behaviour to preserve logic loops by hiding them from ABC.

https://github.com/YosysHQ/yosys/blob/5aa35b8992fab8b55c1c1fae793b4ad845fd4c4c/backends/aiger/xaiger.cc#L157-L161

[2021-03-01 19:28] litghost commented on #120
If I'm reading that right, we need the `(*keep*)` on the relevant wires?  Or is there similar logic to handle a `(*keep*)` on the cell?

[2021-03-01 19:44] Ravenslofty commented on #120
Hmm. It seems like `keep` might be incompatible with marking modules as `(* abc9_box *)`, judging by [this assert](https://github.com/YosysHQ/yosys/blob/5aa35b8992fab8b55c1c1fae793b4ad845fd4c4c/backends/aiger/xaiger.cc#L249)? I suppose whether white box or black box, marking a module as `(* abc9_box *)` means you're permitting that module to be optimised and/or swept away.

I might have to talk to

[2021-03-01 19:50] litghost commented on #120
So for clarity the goal is:
 - Continue to have ABC9 be able to compute combinatorial delays through the CARRY4 for delay path analysis.  I believe ABC9 needs to have a `abc9_box` for this?
 - Prevent ABC9 from optimizing the CARRY4 away or collapsing logic into the CARRY4.  This was the reason that `blackbox` was used over `lib_whitebox`
 - Allow ABC9 it to re-arrange other LUT's or elements that

[2021-03-01 20:04] Ravenslofty commented on #120
Here's another approach I'm going to throw out: I know that ABC9 handles boxes marked blackbox fine, the problem is the module also being parametric (which implies potential incompleteness). A hacky idea is to map the cell into a temporary boxes that contains timing and path information but stores the parameter information via input wires connected to constants, and then map the boxes back to the

[2021-03-01 21:34] litghost commented on #120
The easiest short term solution would be to remove both `abc9_box` and `blackbox` and see if the QoR changes significantly.  It is possible that ABC having the combinatoric delays through the CARRY4 might be not that important for this part.

[2021-03-01 21:46] Ravenslofty commented on #120
Do you want me to modify the PR so you can run CI, or are you going to create your own?

[2021-03-01 22:11] litghost commented on #120
Always appreciate the help.

[2021-03-05 21:52] Ravenslofty commented on #120
Since a workaround got merged, is this going to be closed, or will that wait for the "proper" fix?

[2021-03-05 21:54] litghost commented on #120
I believe the latest files have the update.  @Xiretza are you will to re-test to see if this is fixed for you?

[2021-03-05 22:04] Arvind-Srinivasan commented on #120
I can confirm the issue is now fixed with the removal of the blackbox line. I commented back in the asserts in the two files and they no longer trigger.

[2021-03-05 22:40] Xiretza commented on #120
This particular issues seems to be resolved, but I'm hitting the equivalent of #127 in my own project.

[2021-03-05 22:45] #120 closed

[2021-03-06 00:07] Ravenslofty commented on #127
I'm going to come back to this tomorrow, but here's my debugging so far:

The problem here is that ABC9 is [trying to create a bypass module](https://github.com/YosysHQ/yosys/blob/master/passes/techmap/abc9_ops.cc#L330) for `FDCE`, but because ABC9 has already been run, this already exists, and Yosys throws an assert because of the name collision.

I'm not entirely sure what to do here; the bypass

[2021-03-06 00:11] litghost commented on #127
Is it possible that some of cleanup is not triggering?  As a debugging idea, could all new modules from ABC9 be marked with an attribute, and then add an assertion something like `assert len(select modules where attribute == "added_for_abc9") == 0` after the clean-up?

[2021-03-08 15:48] andrewb1999 commented on #119
Just as an FYI, I run into this same issue in yosys when running very large designs and I have another memory intensive application open in the background. It would be helpful to add some warning there as well.

[2021-03-08 20:48] dnltz commented on #127
I had the same issue some days ago and opened an issue on Yosys: https://github.com/YosysHQ/yosys/issues/2581

In my case this was due a really strange, wrong call from PROC_CLEAN into the abc9 function which only occurred when building it by myself. My solution was to use the litex-hub binary ...

[2021-03-08 20:51] Ravenslofty commented on #127
That's an interesting hint, thank you.

[2021-03-08 20:53] Arvind-Srinivasan commented on #127
The asserts are optimized out on the Litex-hub binary no? That would explain why it never causes an issue.

[2021-03-20 23:42] tcal-x opened #131 "check_if_rest_of_carry4_is_unused: assert cell_idx < len(O_ports) - 1"
I encountered this using the symbiflow-examples installation and attempting to use it to build a LiteX SoC.

I added some debugging in the script; there were 4 O\_ports, and cell\_idx was 3.

I'll attach the testcase as a tarfile here.

[2021-03-20 23:43] tcal-x commented on #131
[code]

[2021-03-21 01:59] tcal-x commented on #131
[testcase131.tar.gz](https://github.com/SymbiFlow/symbiflow-examples/files/6176692/testcase131.tar.gz)

To run the testcase, enter the SymbiFlow environment with $FPGA_FAM=xc7,  ungzip/untar the test case, and source "source_me" in the directory.

[2021-03-24 17:09] mithro commented on #131
@litghost / @acomodi - Can you take a look at this?

[2021-03-25 22:04] litghost opened #132 "Should run GH actions check nightly"
Currently instructions are only run when a new commit is added to master.  Things may go stale, so the master checks should run periodically.

[2021-03-25 23:48] mithro commented on #132
Sounds good to me!

We should make sure we have a dashboard tracking this too...

[2021-03-26 00:04] #132 closed

[2021-03-26 00:29] litghost commented on #131
I believe this was fixed in arch-defs already? https://github.com/SymbiFlow/symbiflow-arch-defs/commit/61f7d23ff10f386286261b8f07a9885b78cd0b55  That fix landed on January 24.  @acomodi When was symbiflow-examples last updated?  As part of the PCIe work, we need to push a new symbiflow-examples, so maybe good to wait until some more of the GTP stuff lands?

[2021-03-26 01:29] tcal-x commented on #131
Waiting is fine by me.  I'll come back to this, but now I'm on Nexus stuff.

[2021-03-26 09:22] acomodi commented on #131
I have opened a [PR to update the packages](https://github.com/SymbiFlow/symbiflow-examples/pull/135) to the latest version.

I think it is better to update them even before GTP stuff lands, as quite some things changed from the last time we updated the packages. As an example, we were still using the non-optimized VTR package.

[2021-03-26 17:29] mithro commented on #131
@acomodi - What happened to the idea of having a bot auto-update these?

[2021-03-26 19:42] tcal-x commented on #131
I attempted using SymbiFlow again after I applied the updates in PR #135.   I ran into the following error regarding a missing tilegrid.json, although I probably made a mistake, since the CI for #135 is all green.

[code]

There *is* a tilegrid.json at:
[code]

...so I have a feeling I'm out of sync regarding the "all-parts" update.

@acomodi , is there something obvious that I missed applying the

[2021-03-26 19:52] tcal-x commented on #131
@acomodi , never mind, I should try a clean install before you take a look.

[2021-03-30 07:07] tcal-x commented on #131
@acomodi , I built my example after installing symbiflow-examples using your updates, and everything worked for me.   I didn't see the original issue, and I didn't see the tilegrid issue that I mentioned.

[2021-03-30 12:34] acomodi commented on #131
@tcal-x great! I guess we can merge the update packages PR than

[2021-03-30 15:23] #131 closed

[2021-03-30 15:25] tcal-x commented on #131
I merged the PR with the updates, but yes, auto-updating would be a better solution.

[2021-04-02 15:29] jgoeders opened #136 "symbiflow.github.io/getting-started.html points to antmicro/symbiflow-examples"
Not sure if this is the correct place to open this issue, but the **Getting Started**, **Symbiflow examples** link at symbiflow.github.io/getting-started.html currently points to antmicro/symbiflow-examples instead of this repo.

[2021-04-02 17:22] #136 closed

[2021-04-03 17:05] Mattia9875 opened #137 "Missing plugin in yosys installation (conda)"
I will post the full meaage below, in short, when you try and run an example it fails citing a missing plugin:
[code]

[2021-04-03 18:00] kgugala commented on #137
Hi @Mattia9875 the `selection`  plugin has been renamed to `design_introspection`. I suppose you need to get newer toolchain installation. Can you try a fresh run?

The CI in this repo is actually testing the guide in nightly builds, so if you start with fresh clone you should be able to build the designs locally.

[2021-04-03 18:53] Mattia9875 commented on #137
Tried a fresh install in a docker container running miniconda3 as base, no luck there, i'll post my dockerfile
[code]
PS: Same dockerfile worked

[2021-04-04 17:56] kgugala commented on #137
you need to update these lines:

[code]
you need to grab newer package (you can use the one referenced in the docs)

[2021-04-12 20:40] mithro commented on #54
The scripts can be found at https://github.com/SymbiFlow/symbiflow-arch-defs/tree/master/xc/xc7/toolchain_wrappers and usage examples at http://symbiflow-examples.rtfd.io/

[2021-04-12 21:04] rodrigomelo9 commented on #54
It solves where to get the tools and doc. Thanks!

[2021-04-12 23:59] #54 closed

[2021-04-13 20:31] hansfbaier opened #138 "conda env create not working in "Getting Symbiflow""
[code]
maybe it meant to say this, but it does not work as well:
[code]

[2021-04-13 21:27] mithro commented on #138
I transferred this issue to the correct repo? What OS are you on? I assume a RedHat Linux?

[2021-04-13 21:28] mithro commented on #138
The GitHub Action which is probably closest to your workflow is https://github.com/SymbiFlow/symbiflow-examples/runs/2328966429?check_suite_focus=true

[2021-04-13 21:30] mithro commented on #138
[code]

[2021-04-13 21:32] mithro commented on #138
@hansfbaier Did you follow these steps?
[code]
?

[2021-04-13 21:33] hansfbaier commented on #138
No, Ubuntu
[code]

[2021-04-13 21:35] hansfbaier commented on #138
No, sorry, I skipped reading that and straight went to the headline 'Toolchain installation'.
I was not aware the prerequisites were part of the installation (because I skipped reading those).

[2021-04-13 21:39] mithro commented on #138
@hansfbaier - I can totally see how you could do that with the current documentation.

[2021-04-13 21:40] mithro commented on #138
@hansfbaier It is probably better if the documentation was clear that the command was `conda env create -f <symbiflow-examples-repo>/$FPGA_FAM/environment.yml` somehow.

[2021-04-13 21:47] hansfbaier commented on #138
Thanks!

[2021-04-13 21:50] hansfbaier commented on #138
Yes, it happens when you get up at three in the morning because of trouble sleeping after the neighbors made a heck of a noise :D

[2021-04-13 22:18] hansfbaier opened #139 "Documentation: checkout of symbiflow-examples should be part of Installation part"
see this thread:
https://github.com/SymbiFlow/symbiflow-examples/issues/138

[2021-04-13 22:27] mithro commented on #138
I think your mistake is totally reasonable.

[2021-04-13 22:30] mithro commented on #138
I'm going to leave this open to solve that issue.

[2021-04-15 13:42] carlosedp commented on #138
Also it would be important to add to the documentation a step to install the Python modules with:
`pip3 install -r ./${FPGA_FAM}/requirements.txt` as Conda didn't install it on my Docker container.

I keep getting `ModuleNotFoundError: No module named 'simplejson'` and other missing module errors.

The Dockerfile is on: https://gist.github.com/carlosedp/1f9119e0645e842e474ec1a67b5aed7e

[2021-04-15 17:47] tcal-x commented on #119
@kgugala @mithro I'd like to add this to the cleanup list.   It still dies with just "Error 137", no mention of out-of-memory.  This is running the counter example; I have 11GB free but it's not enough:

[code]

[2021-04-15 19:30] carlosedp commented on #138
Changed my base image to the non Python3 one and also activated it in the shell. Worked fine.

[2021-04-15 19:33] mithro commented on #138
I'm confused because I'm pretty sure we only support Python 3 and not Python 2?

[2021-04-15 19:35] carlosedp commented on #138
I believe it makes no difference since Conda installs it's own Python3.
Don't think changing the image made a difference here.
What fixed is moving the environment activation to it's script that is called on container start.

[2021-04-20 06:25] DrmnSamoLiu opened #140 "Source code for picoSoC example firmware"
Hi!
I see that the example firmware binary for picoSoC is hardcoded into progmem.v. Are there any chances that you can share the C source code and build parameters so we can experiment with more stuff?
For example I would like to try compiling my own source code and load it from QSPI flash or USB.
Thanks in advance!

[2021-04-20 15:01] mithro commented on #140
@acomodi - Any idea?

[2021-04-20 15:03] acomodi commented on #140
Hi @DrmnSamoLiu, IIRC, the current firmware that is used in this example was built in here: https://github.com/SymbiFlow/symbiflow-arch-defs/tree/master/tests/9-soc/picosoc/firmware

[2021-04-20 15:52] DrmnSamoLiu commented on #140
@mithro @acomodi
Awesome, appreciate your help!

[2021-04-20 15:52] #140 closed

[2021-04-28 18:08] jhu960213 opened #143 "Symbiflow build error when using "Linux-on-litex-vexriscv" project from Enjoy Digital"
Hello,

I'm currently trying to compile the bit stream for arty a7 35t fpga in the Linux-on-litex-vexriscv project from enjoy digital.

Here is the link for this project: https://github.com/litex-hub/linux-on-litex-vexriscv

I have litex and the required dependencies installed already and have already included the symbiflow toolchain path as well. I followed this tutorial to install the symbiflow

[2021-04-28 19:02] jhu960213 commented on #143
@mithro

[2021-04-29 02:03] mithro commented on #143
@kgugala - Any idea why we haven't seen this issue with the CI system?

I assume the cause is that LiteX have recently added a SLEW property on the SD Card constraints and we don't support that yet?

[2021-04-29 08:48] acomodi commented on #143
@jhu960213 I believe that IBUF cells do not support any SLEW attribute indeed, and probably Vivado just ignores it.

Here we define the extra attributes for the various IOs: https://github.com/SymbiFlow/symbiflow-arch-defs/blob/ef20acc081b620f3fbbf1d585360564e1ac789bc/xc/xc7/techmap/iobs.v#L1-L17, and the IBUF does not have any SLEW attribute. Same can be seen in the [SelectIO docs](https://www.xi

[2021-04-29 13:58] jhu960213 commented on #143
Hi @acomodi,

I looked into the docs also and I saw that slew wasn't supported... in that case would it be possible to comment out the slew part in the file location you mentioned: https://github.com/SymbiFlow/symbiflow-arch-defs/blob/ef20acc081b620f3fbbf1d585360564e1ac789bc/xc/xc7/techmap/iobs.v#L1-L17
? Or how should I go about fixing this issue?

Thanks!

[2021-04-29 14:02] jhu960213 commented on #143
Oh nvm I saw that the slew was for OBUF, yeah so is there any other way around this?

[2021-04-29 14:10] acomodi commented on #143
@jhu960213 I believe that, as short term, you may comment out the SLEW property setting in the XDC file. You can find the XDC file in the gateware directory that is generated by LiteX. As a long-term solution we might allow parsing the SLEW property in the flow, which will just be ignored.

[2021-04-29 14:17] jhu960213 commented on #143
So i dug into a bit how litex generates the arty verilog and constraint files from their migen python source code and I commented the part where they specified sdcard in the "soc_capabilities" section in the Arty Class in make.py: https://github.com/litex-hub/linux-on-litex-vexriscv/blob/3244a2882486484c0f80a8becdba1e3fabd3a731/make.py#L62 and seems like my original error the slew attribute thing

[2021-04-29 15:29] jhu960213 commented on #143
@acomodi

[2021-04-29 15:41] acomodi commented on #143
@jhu960213 Keep in mind that, adding a new primitive to support might take some time, but the various steps are as follows:

1. Document the primitive in prjxray. This means generating a series of minitests to understand how the BSCANE2 primitive works and then a fuzzer to document it.
2. Add support for place and route. This means adding [cells map and sim](https://github.com/SymbiFlow/symbiflow-

[2021-04-30 21:49] GuzTech opened #146 "symbiflow_pack fails when building the counter_test example"
I've installed the SymbiFlow toolchain as described [here](https://symbiflow-examples.readthedocs.io/en/latest/getting-symbiflow.html), but when I want to run the `counter_test` example, I get an error:

[code]

I've tried running the `counter` example in the `symbiflow-arch-defs` repository, and that worked fine. I'm on Arch Linux if that's important somehow.

[2021-04-30 21:53] tcal-x commented on #146
Hi @GuzTech , can you alter the Makefile and rerun (or rerun the last command explicitly), and capture the stdout/stderr to a file instead of having it sent to /dev/null, and post the error and surrounding text here?

[2021-04-30 21:56] GuzTech commented on #146
Sure! I've removed the `> /dev/null` part of the part that runs symbiflow_pack and now I get this error:

[code]

[2021-04-30 22:01] tcal-x commented on #146
@GuzTech , I need to call in the experts :)

@kgugala , @acomodi :  `Unexpected command-line argument '@VPR_ARGS@'` -- any ideas?

[2021-04-30 22:24] GuzTech commented on #146
Ah I found the problem. Because I first tried the `symbiflow-arch-defs` repository, there apparently were some environment variables set that messed things up. I've opened a new terminal and now that step works.

Now I run into the same problem described in https://github.com/SymbiFlow/symbiflow-examples/issues/108 but I'll look into it tomorrow. Thanks for the help :)

[2021-04-30 22:24] #146 closed

[2021-05-16 16:33] akshar001 opened #148 "Sybiflow-examples Arty A7 35 build error on ubuntu platform"
Hello,
We are trying to build an example of counter.

TARGET="arty_35" make -C counter_test

But we are getting this error at final end, let us know if we can get help around it.

We followed this tutorial

https://symbiflow-examples.readthedocs.io/en/latest/getting-symbiflow.html

But we are getting this error at fasm,

Serial number (magic cookie) for the routing is: 182215957
Circuit successful

[2021-05-16 16:39] kgugala commented on #148
hi @akshar001

Error 137 suggest you ran out of memory. What kind of machine did you use to run build the example?

[2021-05-16 17:30] tcal-x commented on #148
https://github.com/SymbiFlow/symbiflow-examples/issues/119 for reference.

[2021-05-17 10:48] akshar001 commented on #148
6GB,
I have ordered 4GB another ram now!.

[2021-05-17 16:36] akshar001 commented on #148
@kgugala @tcal-x it's fixed. able to run counter_test on my arty board.
I have upgraded the ram and issue is solved.

[2021-05-17 16:36] #148 closed

[2021-05-31 16:52] akshar001 opened #150 "XC-35T simulation error."
We are trying to run post-implemention simulation based on this.

https://symbiflow.readthedocs.io/en/latest/vtr-verilog-to-routing/doc/src/tutorials/timing_simulation/index.html

We almost have every file, from post synthesis to sdf files we are trying to simulate counter.v example. We also have changed the testbench.sv file to suitable needs. problem is when we run do tb.do in modelsim we have s

[2021-06-03 21:31] WhiteNinjaZ opened #151 "Do incorrectly writen XDC files generate errors from the toolchain?"
@acomodi
I was trying to modify the symbiflow counter test to take an input from one of the switches, and ran into an interesting error where the input pin for a switch was not being routed correctly during the build process. The bit-stream was generated but my project was not functioning as expected (specifically flipping sw[0] had no effect on the counter I was running). After some debugging I r

[2021-06-04 17:00] mithro commented on #151
FYI - @acomodi @tmichalak

[2021-06-07 07:19] acomodi commented on #151
Hi @WhiteNinjaZ, I think you are right and this kind of behaviour should get caught earlier, at least with a warning. I guess that something might have been reported in the `counter_synth.json.log` file, which holds all the output from the yosys synthesis and the yosys-plugins. I believe this should also get solved in the [XDC](https://github.com/SymbiFlow/yosys-symbiflow-plugins/tree/master/xdc-p

[2021-06-07 14:54] WhiteNinjaZ commented on #151
That is good to know. Out of curiosity, why does symbiflow-examples not use the xdc parser in symbiflow-xc-fasm2bels/fasm2bels/lib/parse_xdc.py? If I understand correctly, it looks like that parser fixes this kind of issue as well as providing support for a few other features.

[2021-06-07 14:59] acomodi commented on #151
The XDC plugin in `symbiflow-yosys-plugins` does actually more than te one in fasm2bels, as it accesses the netlist information and annotates relevant attributes required for VPR. For instance it binds the pin to the actual physical location, as well as exploring the clock network to annotate all the clock constraints which are output in the `.sdc` output.

[2021-06-07 15:05] WhiteNinjaZ commented on #151
That makes sense. Thank you for the clarification.

[2021-06-07 18:27] mithro commented on #151
@acomodi - We should never be issuing warnings. It should either be something you don't care about or an error.

[2021-06-07 18:39] nelsobe commented on #151
@mithro Thanks for the clarification.    We thought that silently ignoring an XDC pin mapping due to an XDC file syntax error should result in an error (and it was not really a syntax error - just using a feature the parser doesn't grok).   Otherwise, it is nearly impossible to figure out why the circuit doesn't work...  It was only a bit of guessing on our part that led us to find the culprit in

[2021-06-08 16:42] WhiteNinjaZ commented on #151
@acomodi Is there documentation showing how to install the XDC plugin and merge it with the tool chain? I was looking through the internet and also in the REDMES and couldn't seem to find it. Is the XDC plugin already part of symbiflow examples?

[2021-06-09 07:53] acomodi commented on #151
@WhiteNinjaZ At the moment, the symbiflow-examples pulls all the tools from conda, and those versions are pre-built. I think one option would be to:
1. build the XDC plugin locally (note that the version of yosys used to build the plugin need to be the same as the one installed in conda)
2. replace the `xdc.so` library from `conda/envs/xc7/share/yosys/plugins/` with the one locally compiled.
3. te

[2021-06-14 17:46] WhiteNinjaZ opened #153 "Error from instantiating MMCME2_BASE primitive"
I have been testing the symbiflow toolchain on a few designs and have run into an error while trying to run the pong design on [project_f](https://projectf.io/posts/fpga-pong/). When I try to run the design I get this error from the tool chain:
``Message: Failed to find matching architecture model for 'MMCME2_BASE'``
From what I can tell this is coming from file [clock_gen_480p.sv](https://github.

[2021-06-17 21:39] marcmerlin opened #154 "/opt/symbiflow/xc7/install/bin/symbiflow_synth: line 93: prjxray-config: command not found"
Hi, I'm following the doc on https://symbiflow-examples.readthedocs.io/en/latest/building-examples.html and the first 2 examples work fine, but litetx is not as clear.

First "Linux LiteX demo" doesn't make it clear if I should be inside the symbiflow-examples git checkout to create all those things done by litex_setup, or elsewhere.
I made a need litex directory. The build then fails with
[code]

[2021-06-18 01:22] marcmerlin opened #155 "Why not just "make" and "make install" ?"
https://symbiflow-examples.readthedocs.io/en/latest/building-examples.html
says
TARGET="arty_35" make -C counter_test
and
cd counter_test/build/<board>
plus
openocd -f ${INSTALL_DIR}/${FPGA_FAM}/conda/envs/${FPGA_FAM}/share/openocd/scripts/board/digilent_arty.cfg -c "init; pld load 0 top.bit; exit"

this looks a bit complex, why not:
1) cd counter_test
2) TARGET="arty_35" make
3) TARGET="arty_35"

[2021-06-18 02:03] marcmerlin opened #156 "LiteX on Linux example lacks documentation"
https://symbiflow-examples.readthedocs.io/en/latest/building-examples.html
is confusing.
1) it has this bit about
cd litex-boards/litex_boards/targets; ./digilent_arty.py --toolchain symbiflow --cpu-type vexriscv --build
which does not say where this is supposed to be installed/built

2) lower down it says TARGET="arty_35" make -C linux_litex_demo
this command works fine, and so does the openocd p

[2021-06-18 02:10] marcmerlin commented on #154
as a side note, ./litex_setup.py install is not hermetic, it needed sudo and installed a bunch of stuff in my system python. Not sure if that was the intent.

[2021-06-18 09:53] acomodi commented on #154
Hi @marcmerlin, I think that the problem here is that you did not source the conda environment, where `prjxray-config` is located.

Another hint that this might be the case is that you required sudo to install litex, which should not happen if it was to be installed in the conda environment.

[2021-06-18 20:20] marcmerlin commented on #154
@acomodi  thanks for the reply.
there seems to be some include hell going on, I'm pretty sure I had conda included for the previous examples, but now I get this:
[code]
which seems to say it's using the wrong python again

That said, I see you just removed the entire block I was having issues with
https://github.com/SymbiFlow/symbiflow-examples/pull/111

So, should I just give up on this entire li

[2021-06-18 20:23] marcmerlin commented on #154
So, can you confirm that
1) the entire block you just removed in https://github.com/SymbiFlow/symbiflow-examples/commit/dc44e93754f065adf9d851a1696efb3b2e117053
was a wild goose chase, and not necessary, so I can delete it all on my side and forget it ever happened? :)

2) clear up
https://symbiflow-examples.readthedocs.io/en/latest/building-examples.html#linux-litex-demo a bit?
I sure get it to b

[2021-06-21 18:12] PeterHindes commented on #26
I have a pynq z2 board with a zynq 7020 if you want some testing. I'm a bit of a noob though lol.

[2021-06-30 16:25] WhiteNinjaZ commented on #153
@acomodi @tmichalak?

[2021-06-30 16:51] acomodi commented on #153
@WhiteNinjaZ At the moment there is a PR which is soon-to-be-merged and open to add support for the MMCM primitives in [symbiflow-arch-defs](https://github.com/SymbiFlow/symbiflow-arch-defs/pull/1729). For context, symbiflow-arch-defs is the repository that generates the device data used to place&route.

Once that PR is merged and new device data generated by CI, we will be able to use MMCM primit

[2021-06-30 17:44] WhiteNinjaZ commented on #153
Thank you for the info.

[2021-07-09 02:06] WhiteNinjaZ opened #160 "Spaces not properly parsed in XDC files"
@acomodi I have noticed an odd edge case with symbiflow's parsing of XDC files, particularly XDC files that contain extra spaces in dictionary parameters. For example, if I run the following through the tool chain everything works just fine:
[code]

However, if I simply add two or more spaces between PIN and IOSTANDARD to the first four dictionary parameters I get an error from symbiflow_synth. Fo

[2021-07-09 07:21] acomodi commented on #160
Hi @WhiteNinjaZ, thanks for filing this. I believe this can be due to a bug in the [XDC yosys plugin](https://github.com/SymbiFlow/yosys-symbiflow-plugins/blob/5d91d446535d0ae349fbdb49a6a2867c9f7f41ef/xdc-plugin/xdc.cc#L142), causing the behaviour you see.

[2021-07-12 18:27] WhiteNinjaZ opened #161 "Unconnected I/O generate no error in symbiflow"
I have noticed that symbiflow does not produce any errors when top module ports remain unmapped to pin constraints on the board. For example, this top level module whose input port problem1 and output port problem2 do not map to any pins in the xdc does not generate any errors from the toolchain:

top module:
[code]

XDC file:
[code]

Additionally, I have noticed that sub-modules which contain por

[2021-07-13 23:29] mlaga97 opened #162 "EOS-S3 Tarball Issue / ql_symbiflow: command not found"
The instructions for installing SymbiFlow found [here](https://symbiflow-examples.readthedocs.io/en/latest/getting-symbiflow.html) state to download architecture definitions using the following command:

[code]

However, upon doing this and attempting to build the examples, the following error is obtained.
[code]

Poking around in `$INSTALL_DIR/eos-s3/`, it appears that the tarball is extracted to

[2021-07-14 15:23] kgugala commented on #162
hmm, the CI seems to be handling this correctly (see: https://github.com/SymbiFlow/symbiflow-examples/runs/3062350594?check_suite_focus=true).

Did you activate conda env before you call `make`?

[2021-07-19 15:33] WhiteNinjaZ commented on #153
@acomodi Per chance do you know the time frame for when the MMCME2_BASE support in [symbiflow-arch-defs](https://github.com/SymbiFlow/symbiflow-arch-defs/pull/1729) will be done?

[2021-07-19 15:53] mithro commented on #153
@mkurc-ant

[2021-07-20 07:14] mkurc-ant commented on #153
@WhiteNinjaZ Hello. I can't tell about the time frame of doing that but adding `MMCME2_BASE` is a matter of writing a Yosys techmap in the same way as it is done for `PLLE2_BASE`. I'd prefer to do that after landing the MMCM PR but if you are lively interested in having the techmap there I can add it.

On the other hand merging https://github.com/SymbiFlow/symbiflow-arch-defs/pull/1729 is more com

[2021-07-23 03:57] mithro opened #164 "The Zybo and Arty pictures and instructions are displayed at the same time"
See the image below.

The Arty info is displayed in light green. Then there is all this confusing extra stuff about the Zybo, highlighted in red. It is also very unclear that the picocom terminal / EMIO and other instructions are *only* for the Zybo and not for both.

![image](https://user-images.githubusercontent.com/21212/126735703-54098934-7368-4be6-9477-8949b3a7346c.png)

[2021-07-23 03:58] mithro commented on #164
@acomodi -- Looks like you added the Zybo stuff in https://github.com/SymbiFlow/symbiflow-examples/commit/1dd36fe5877b98eb46f4a8ffd18d06d5b9c87617

[2021-07-23 04:01] mithro opened #165 "Missing picture examples for Basys 3, Nexys 4 DDR and Nexys Video boards in counter example"
The page at https://symbiflow-examples.readthedocs.io/en/latest/building-examples.html#counter-test doesn't have pictures / images for every board in the counter example.

It should.

Please add;
 - [ ] Basys 3 images.
 - [ ] Nexys 4 DDR images
 - [ ] Nexys Video images

[2021-07-23 04:01] mithro commented on #165
@mgielda / @kgugala - who should own this?

[2021-07-23 04:02] mithro commented on #165
Looks like @cjearls added the Nexys 4 DDR section?

[2021-07-23 04:02] mithro commented on #165
@fkokosinski and @rw1nkler added the Basys 3 section.

[2021-07-23 04:03] mithro commented on #165
@rw1nkler and @AdamOlech added the Nexys Video section.

[2021-07-27 17:53] WhiteNinjaZ opened #168 "Progress of new designs for Symbiflow Examples"
This issue is meant to track the progress of adding additional designs to symbiflow. Currently I have made two separate pull requests which cover a timer and button de-bouncer for the basys and a pwm for the arty. These designs demonstrate symbiflows ability to map a greater arrangement of I/O pins than previous designs and also show symbiflows ability to compile systemVerilog code as well as dict

[2021-07-27 18:35] tcal-x opened #169 "XC7 install problem: ".../symbiflow-examples/xc7/condaenv.asvir9n0.requirements.txt""
I encountered this today, and made a new clone of the repository on a different laptop, and ran into the same issue.

In the `conda env create -f $FPGA_FAM/environment.yml` step, I get this error (note the garbled path to requirements.txt in the python/pip command about 8 lines down; you probably need to scroll right to see it):
[code]

[2021-07-27 18:37] mithro commented on #169
FYI - @kgugala

[2021-07-27 22:38] tcal-x commented on #169
The Miniconda 'latest' pointer was recently updated, and is now a py39 version.   I don't know what it was before.   I can try using a py37 version.

From https://repo.anaconda.com/miniconda/ :
[code]

[2021-07-27 22:51] tcal-x commented on #169
I tried `Miniconda3-py37_4.9.2-Linux-x86_64.sh` and encountered the same error.

[2021-07-29 16:50] tcal-x commented on #169
I noticed the identical issue in Fomu Sphinx build tests (garbled path to requirements.txt): https://github.com/im-tomu/fomu-workshop/runs/3194022998?check_suite_focus=true

[code]

[2021-07-29 17:17] kgugala commented on #169
this does seem to be some kind of conda issue. I could reproduce it when running installation native on my machine, but could not when running it in Debian 10 Docker.

@tcal-x can you try removing `file:` prefix here https://github.com/SymbiFlow/symbiflow-examples/blob/master/xc7/environment.yml#L20

[2021-07-29 20:57] tcal-x commented on #169
@kgugala , yes, if I remove `file:` where you suggest, it then works correctly for me, and I'm able to build counter_test.

[2021-07-30 02:38] WhiteNinjaZ opened #170 "Symbiflow Breaks When Module Parameters are Passed Single Words of a Multi Bit Array"
@acomodi @kgugala I have been testing the symbiflow tool chain with designs from several FPGA websites and have encountered a rather perplexing bug within the toolchain. While working on the [Ad Astra](https://projectf.io/posts/fpga-ad-astra/) designs from project F, I encountered a module that generated a faulty bitstream when using symbiflow but worked properly using the Vivado design suite.  I

[2021-07-30 07:45] #169 closed

[2021-07-30 07:55] kgugala commented on #169
@tcal-x @mithro it seems this commit in PIP https://github.com/pypa/pip/commit/f6b184ccaf464021e7633d15fa719dd35e164fdd breaks this. It adds special handling for links starting with `file` here https://github.com/pypa/pip/blame/main/src/pip/_internal/req/req_file.py#L514, so instead of going with simple `f.read()` path we were going through `session.get()`.
I suppose this is a conda issue - Conda

[2021-07-30 15:54] tcal-x commented on #169
Thanks @kgugala for tracking it down!

[2021-07-30 16:10] mithro commented on #169
@kgugala - It seems like this should be reported upstream somewhere too?

[2021-07-30 19:02] kgugala commented on #169
it already is https://github.com/conda/conda/issues/10815. I commented there with what I found.

[2021-07-30 22:11] WhiteNinjaZ commented on #170
Update: Apparently this issue only occurs with System Verilog files. I converted the code above to Verilog by changing all of the "logic" to "wire" and changing the file extension and the design works properly. I have also succeeded in getting more complicated designs in Project F  with this same type of issue working by converting SV->V with [these instructions](https://electronics.stackexchange.

[2021-08-02 14:41] mithro commented on #170
@WhiteNinjaZ - You should get these into sv-tests and talk to @hzeller about options here then.

[2021-08-12 18:39] WhiteNinjaZ commented on #170
@mithro Moved this issue to sv-tests as requested.

[2021-08-20 17:42] WhiteNinjaZ commented on #28
@acomodi @kgugala @nelsobe So do upstream changes to the toolchain have to be manually ported into the toolchain? I noticed that the changes in symbiflow-yosys-plugins and symbiflow-arch-defs don't seem to be reflected in my toolcahin even after I reinstalled the most up to date version of symbiflow-examples.

[2021-08-27 20:21] hzeller opened #179 "Following documented examples: prjxray-config not found while setting DATABASE_DIR"
When following the [Symbiflow examples](https://symbiflow-examples.readthedocs.io/en/latest/index.html) step by step, it fails when attempting to [build the counter example for xc7](https://symbiflow-examples.readthedocs.io/en/latest/building-examples.html#counter-test)

Reason: the `symbiflow_synth` script attempts to use `prjxray-config` to determine the database path. To fix, either the `DATABA

[2021-08-27 22:20] #179 closed, assigned to nobody

[2021-09-04 20:08] WhiteNinjaZ opened #180 "Log of progress on Project F designs"
This issue is meant to serve as a log for the designs in project F that work and fail using the symbiflow toolchain.

Hello:

All of the designs in this module work without any modifications to the designs. These designs are currently being ported into symbiflow:

All Designs in [Hello Arty 1](https://projectf.io/posts/hello-arty-1/)
All designs in [Hello Arty 2](https://projectf.io/posts/hello-ar

[2021-09-08 12:44] IanBoyanZhang commented on #26
Hello, I know this is an old thread. I recently got a pynq z1 board. Would love to learn about Symbiflow/yosys workflow (eventually being able to contribute). Wonder if it is a right board for a starter. Thanks!

[2021-09-09 09:24] pgielda commented on #26
Pynq Z1 has an XC7Z020 FPGA chip so I see no reason why in principle it would not work.
I remember that Pynq Z1 was somehow convoluted in terms of good documentation on how things are connected around and had no U-Boot port (but maybe I am mistaken?) so you might have some problems on this side (not strictly related to Symbiflow toolchain itself).

It definitelty would be an interesting experiment

[2021-09-14 11:28] shahzaibk23 opened #183 "Symbiflow_synth command not found"
While executing, I am getting this error:

`/home/user/symbiflow-examples/xc7/counter_test/arty.xdc 2>&1 > /dev/null
/bin/sh: line 1: symbiflow_synth: command not found
make: *** [/home/kraken/symbiflow-examples/xc7/counter_test/../../common/Makefile:53: /home/kraken/symbiflow-examples/xc7/counter_test/build/arty_35/top.eblif] Error 127
make: Leaving directory '/home/kraken/symbiflow-examples/xc7/

[2021-09-14 16:01] tcal-x commented on #183
@shahzaibk23 , it is easy to miss the line `conda activate $FPGA_FAM` in the instructions on https://symbiflow-examples.readthedocs.io/en/latest/building-examples.html -- could that be the issue?

[2021-09-15 04:30] shahzaibk23 commented on #183
I did the installation process again and it worked.
Thank You! :)

[2021-09-15 04:51] tcal-x commented on #183
@shahzaibk23 great to hear.   Don't hesitate to let us know about any other issues, or spots in the documentation that are not clear.

[2021-09-23 06:38] shahzaibk23 commented on #183
I am getting this error again, I tried re-installing Symbiflow a few times but this error is still there !!

The list of commands I ran for installing Symbiflow is as follows:

[code]

[2021-09-23 09:07] kgugala commented on #183
@shahzaibk23 I don't see `conda activate $FPGA_FAM` in your log

[2021-09-24 04:07] shahzaibk23 commented on #183
Yes I ran `conda activate $FPGA_FAM` and after that `TARGET="arty_35" make -C counter_test`
and the terminal shows me this:

```TARGET="arty_35" make -C counter_test```

[2021-09-24 18:02] mithro commented on #183
@shahzaibk23 -- Can you please paste the complete output as you typed things into the terminal. It is clear that what you are saying you are doing and what you are actually doing is not the same. It is impossible to debug what is happening with the information you are providing.

[2021-09-25 04:24] shahzaibk23 commented on #183
Hope this might help
[code]

[2021-09-27 06:42] kgugala commented on #183
can you paste complete installation log? the snippet you pasted suggests that there was something wrong with installation

[2021-09-27 06:56] shahzaibk23 commented on #183
[code]
After running the last command, I am getting this error:
[code]

[2021-09-27 07:01] acomodi commented on #183
Hi @shahzaibk23, I think you ar missing the path exporting step

[code]

[2021-09-27 15:18] mithro opened #185 "Remove the need to set environment values after install"
Currently, after installing you need to set the following environment values;
[code]

This should not be needed and causes a huge amount of confusion amount users.

[2021-09-30 10:13] ssmolov opened #186 "Unable to import fast Antlr4 parser implementation"
Hello, I've tried to walk through "Building examples" tutorial for SymbiFlow, and, when running "TARGET="zybo" make -C counter_test" command to create bitstream for counter example, I get the following error:
[code]
I've reinstalled fasm package, but it doesn't help.

[2021-09-30 10:18] acomodi commented on #186
Hi @ssmolov, even though there are still some problems when it comes to installing the fasm package, the above is not really an error, but rather a warning.

What happens is that `antlr` cannot adopted, and the `textx` library is used instead, so the bitstream is still getting generated.

[2021-09-30 19:08] mithro commented on #186
Can you get this documented?

[2021-10-05 05:27] alanvgreen opened #187 "Conda env setup slow to download packages"
I am following the instructions at https://symbiflow-examples.readthedocs.io/en/latest/getting-symbiflow.html, and am at this step

[code]

I have been downloading packages for at least 4 hours so far. Some packages are very fast to download. Others are very slow. The current package, vtr-optimized-8.0.0_ has been downloading for over an hour and is stuck at 0% and 63.6MB.

[2021-10-05 05:34] alanvgreen commented on #187
Restarting `conda env create` the fourth time caused the vtr package to finish installing (it jumped immediately to 100%) but then I got this error:

[code]

It may be that repeated restarts broke conda env create. I will remove symbiflow entirely and restart the installation.

[2021-10-05 11:29] Talha-Ahmed-1 opened #188 "ERROR: Module $paramod\FDRE\INIT=1'x contains processes, which are not supported by JSON backend (run `proc` first)"
Can anyone help me with this.

[code]

[2021-10-05 12:17] acomodi commented on #188
Hi @Talha-Ahmed-1, I believe that the symbiflow packages you have may be out-dated. Can you please try and re-install the packages (https://symbiflow-examples.readthedocs.io/en/latest/getting-symbiflow.html#toolchain-installation)?

In particular, the error seems to be due to the fact that the processes are not getting cleared before running the JSON backend in Yosys, which does not allow for any

[2021-10-05 13:22] #183 closed

[2021-10-05 14:24] mithro commented on #187
@kgugala - Can you have someone look into what is going on here?

[2021-10-05 14:25] mithro commented on #187
It should be investigated why the CI is not seeing these issues?

[2021-10-05 14:41] kgugala commented on #187
I just ran the whole flow on my machine and package installation took ~5 minutes. @alanvgreen can you try running this again? Maybe it's some kind of network issue on your side?

[2021-10-05 16:17] tcal-x commented on #187
My 2 cents, I also have no issues -- my experience is like @kgugala 's.

[2021-10-05 16:55] mithro commented on #187
We should figure out if there is something strange about @alanvgreen 's setup or if it has something to do with @alanvgreen being in Australia.

[2021-10-05 19:39] Talha-Ahmed-1 commented on #188
Thanks it works for me!

[2021-10-05 19:39] #188 closed

[2021-10-05 22:44] alanvgreen commented on #187
On the second go through, it only took three retries. The gcc package failed once, then had then incorrect hash, and worked the thrird time. Vpr timed out twice before succeeding on the third try.

Things that might be strange about my set up
- I am in Australia
- I am using a VM inside ChromeOS

I'll delete it and try again.

[2021-10-06 02:13] alanvgreen commented on #187
I deleted my ~/opt and ~/.cache directories and tried again. It finished in 3m17s.

Perhaps it was just a CDN having a bad day

[2021-10-06 04:59] mithro commented on #187
Just some useful links in case I find this issue again;
 * https://github.com/DanielBok/private-conda-repo
 * https://conda.io/projects/conda/en/latest/user-guide/tasks/create-custom-channels.html

[2021-10-08 11:11] Shahzaib2028 opened #189 "ERROR: TCL interpreter returned an error: Traceback (most recent call last):"
Hello, I wanna synthesize my design but stuck at this point and my packages are up-to-date.

[code]

[2021-10-10 10:55] Talha-Ahmed-1 opened #191 "ERROR: set_property IO_LOC_PAIRS: Incorrect number of arguments."
Generating bitstream by following the steps mentioned in this Makefile: https://github.com/Talha-Ahmed-1/picofoxy/blob/main/fpga/Makefile

It got stuck at the time of synthesis and giving such error.

[code]

All of my IO ports are mapped in .xdc file.
Design resources: https://github.com/Talha-Ahmed-1/picofoxy/tree/main/fpga

[2021-10-10 16:14] mithro commented on #191
The error is `ERROR: set_property IO_LOC_PAIRS: Incorrect number of arguments.`.

My first guess is that something in your `.xdc` file is currently unsupported by the symbiflow tooling.

[2021-10-16 06:33] gergoerdi opened #192 "SymbiFlow wrapper scripts should use their directory location to find other Symbiflow scripts and programs"
As part of working with integrating SymbiFlow into my build system, I noticed that the scripts and the Makefiles make the annoying assumption that the SymbiFlow tools are installed in `$PATH`. This might become a reasonable assumption further down the line when there are standard OS packages for SymbiFlow, but as of this writing, the instructions at https://symbiflow-examples.readthedocs.io/en/lat

[2021-10-16 06:38] gergoerdi opened #193 "`symbiflow_synth`: guess input file formats"
With GCC, I can do something like `gcc a.s b.c c.o libd.a -o e` and it will correctly guess that the first input is an assembly source, the second is a C source, the third is an ELF object, and the fourth is a library. In contrast, `symbiflow_synth` needs to be specifically told about `.xdc` files.

Why care? Because if it is able to guess which input file is in what format, writing build scripts

[2021-10-16 06:46] gergoerdi opened #194 "Output directory management"
Currently, SymbiFlow tools write into output files in CWD. It would be much more build script-friendly if they supported an output file flag instead, and any supplementary files would be put next to the output file.

This could lead to very nice Makefile rules like e.g.

[code]

whereas today, one has to juggle the CWD to get output anywhere else:

[code]

[2021-10-19 12:47] betocool-prog opened #195 "Openocd: libusb_open() failed with LIBUSB_ERROR_ACCESS"
Hi all,

Apologies if this is the wrong place to ask, but I'm having issues getting my bit file into the ARTY 100 board loaded. Here's what I did so far:

- Installed Symbiflow and all its dependencies as described [here](https://symbiflow-examples.readthedocs.io/en/latest/getting-symbiflow.html): OK
- Ran the script(s) to generate the bit-stream: OK
- Attempted to load the bitstream... fail!

Som

[2021-10-19 14:50] WhiteNinjaZ opened #196 "Add dependabot to project F submodule"
Now that project F is a submodule to symbiflow, dependabot should be used to check for updates in project F and pull those updates.

[2021-10-19 15:02] WhiteNinjaZ opened #197 "Automatically generate parts of CI matrix"
[workflows/sphinx-tuttest.yml](https://github.com/SymbiFlow/symbiflow-examples/blob/master/.github/workflows/sphinx-tuttest.yml) currently requires the addition of each new design to the CI matrix for every type of operating system tested by the symbiflow-examples workflow. Parts of this matrix should be generated automatically to avoid repetition and improve maintainability.

[2021-10-20 01:25] WhiteNinjaZ opened #199 "Server timeouts while CI running on PRs"
While porting designs into symbiflow-examples there have been multiple times when PR run tests have failed due to only a server timeout. This problem occurs as often as once every three pushes and is usually more of an issue when CI is running on multiple PRs simultaneously. I am not sure which test times out the most often but I do know that linux_litex, picosoc, and counter have failed many time

[2021-10-20 08:31] pgielda commented on #199
We are aware of it and working on fixing that.

[2021-10-20 10:10] #197 closed

[2021-10-20 14:17] mithro commented on #195
You can test this theory by putting `sudo` in front of the `openocd` command (which will make it run as root). That is not a long term solution, but should confirm if it is a typical permission problem or if there is something like SELinux or AppArmor also involved.

[2021-10-20 15:14] mithro opened #201 "Understand impact of fixing the build for the antlr FASM modules"
Before
[code]

After
[code]

[2021-10-20 21:02] alanvgreen opened #203 "Link symbiflow.github.io directly to docs at symbiflow-examples.readthedocs.io/"
I'm not sure where to file issues for symbiflow.github.io, so filing here.

The "Symbiflow Examples" button on the [Symbiflow wiki Getting Started page](https://symbiflow.github.io/getting-started.html) links to the [README.md for the new user documentation](https://github.com/SymbiFlow/symbiflow-examples) instead of the [actual new user documentation](http://symbiflow-examples.readthedocs.io).

T

[2021-10-20 22:12] mithro commented on #203
@acomodi / @mgielda

[2021-10-21 21:21] alanvgreen opened #204 "Switch to Symbiflow for Arty?"
Is it time to switch to CFU Playground to Symbiflow as the recommended tool for Arty A7?

[2021-10-22 02:03] regymm opened #206 "Report resource utilization"
When the examples, like counter or picosoc, finished running, is there a way to show how much resource is used(LUT, FF, BRAM)? This seems simple but I only see timing reports in the build directory after running make.

In Symbiflow documents I found there's a VPR option called --analysis, but I haven't figured out how to put this option into practice yet.

[2021-10-22 10:49] #206 closed, assigned to nobody

[2021-10-24 10:05] #195 closed, assigned to nobody

[2021-10-30 23:15] mithro opened #209 "Repository using wrong sphinx theme?"
[It seems to be using `sphinx-material==0.0.32`](https://github.com/SymbiFlow/symbiflow-examples/blob/master/docs/requirements.txt#L2) rather than https://github.com/SymbiFlow/sphinx_symbiflow_theme ?

[2021-11-02 16:33] mithro commented on #203
@kgugala

[2021-11-02 20:13] mithro opened #211 "Weird issue with /usr/bin/env on symbiflow-examples runners"
There was a weird failure @ https://github.com/SymbiFlow/symbiflow-examples/runs/4083446723?check_suite_focus=true
[code]

[2021-11-02 20:16] mithro commented on #211
FYI -- @kgugala / @tmichalak

[2021-11-02 20:40] #209 closed

[2021-11-03 15:56] mithro commented on #211
Do you think this is the pre-emption issue?

[2021-11-03 15:58] pgielda commented on #211
No, this is just some kind of a bug. Happens always on this particular job (centos7 xc7 counter)

[2021-11-03 15:59] mithro commented on #211
Seems weird.

[2021-11-03 16:01] pgielda commented on #211
I agree, it is super weird. But its on the node "javacript" actions that we've support for recently... so there must be some kind of an edge case where it does not work. Same runners work fine in multiple projects in CHIPS Alliance org.

[2021-11-05 08:51] AdamOlech commented on #211
We seem to have fixed the issue. It was most likely related to an erroneous container invocation in the runner code - see https://github.com/antmicro/runner/commit/838478f10244bfd05576c28d38464ac8731e8cc6

[2021-11-05 18:01] kgugala commented on #211
This issue doesn't seem to be hitting us anymore. I'm closing the issue, will reopen if it happens again.

[2021-11-05 18:01] #211 closed

[2021-11-08 18:50] #203 closed

[2021-11-20 21:15] kgugala opened #215 "Centos8 tests are failing"
see e.g. https://github.com/SymbiFlow/symbiflow-examples/actions/runs/1483343385

[2021-11-24 09:21] bl0x commented on #28
It would be nice to have a one-page guide on how to update symbiflow-examples and the associated toolchain to pull in the latest changes. Right now the most straightforward way for me would be to purge and reinstall.

What are the recommendations?

[2021-11-25 13:46] kgugala commented on #215
fixed with https://github.com/antmicro/buildroot/commit/7efaaa03a20588a2b40e37ef7c20bf344ea83bfd

[2021-11-25 13:46] #215 closed

[2021-11-29 07:18] mithro opened #218 "Command name collision in symbiflow/scripts/xc7/synth.tcl"
From https://gist.github.com/regymm/3cfaefb1cc5922d72a8d1ccc775efddf
[code]

[2021-11-29 07:19] mithro commented on #218
@acomodi / @kgugala / @tmichalak - Does this have something to do with the symbiflow plugins or?

[2021-11-29 07:48] tmichalak commented on #218
These messages are not symbiflow plugins related. They are coming from the `yosys -import` command that is ingesting all the commands such as `plugin -import` or the symbiflow plugins commands into the TCL interpreter.

[2021-12-07 03:36] MidsummerNight opened #221 "Does xc7a35t and xc7a50t share the same arch.timing.xml file?"
Arty boards only come in `xc7a35t` and `xc7a100t` versions, however `xc7a50t` keeps popping up all over SymbiFlow's projects. Why?

When installing [symbiflow-examples](https://symbiflow-examples.readthedocs.io/en/latest/getting-symbiflow.html) one step is to `wget -qO- https://storage.googleapis.com/symbiflow-arch-defs/artifacts/prod/foss-fpga-tools/symbiflow-arch-defs/continuous/install/459/2021

[2021-12-07 05:45] mithro commented on #221
The `xc7a35t` doesn't really exist. All `xc7a35t` hardware is actually `xc7a50t` hardware internally.

[2021-12-07 05:46] mithro commented on #221
To answer

Yes.

[2021-12-07 06:31] MidsummerNight commented on #221
Okay, thanks for explaining. Where did you find this out though? Is the `xc7a35t` using the exact same silicon die as the `xc7a50t`, except with a portion of the latters' resources somehow disabled by Xilinx, and when generating bitstreams, both Vivado and Symbiflow simply configure those disabled resources as zero?

[2021-12-07 23:50] mithro commented on #191
Poke @tmichalak ?

[2021-12-09 10:22] tmichalak commented on #191
Sure, I am looking into it

[2021-12-13 04:38] umarcor commented on #185
FTR, if containers from hdl/containers are used, setting those environment values is not required:

https://github.com/SymbiFlow/symbiflow-examples/pull/220#issuecomment-992101880
[code]

On the containers, the toolchain is available in the PATH already, and the script is sourced implicitly. Hence, users only need to activate the conda environment.

[2021-12-13 09:01] pgielda commented on #185
I agree with Tim its confusing. I disagree that hiding in a container is better. You suddenly need to use docker which makes it even more convoluted. I like the idea to have an *alternative* with e.g. docker, but examples were supposed to show what to install not hide it completely in a container.
I think we can probably improve easily to at least remove the PATH requirement.

[2021-12-13 15:59] carlosedp opened #224 "symbiflow_write_binary not added to package for Quicklogic"
In the packages for Quicklogic, the `symbiflow_write_binary` script is not included in the package.

Source: https://github.com/QuickLogic-Corp/symbiflow-arch-defs/tree/master/quicklogic/common/toolchain_wrappers

This script is used to generate the binary containing the bitstream to be written to the FPGA.

[2021-12-13 16:04] carlosedp opened #225 "Quicklogic wrapper scripts in last packages doesn't support command line arguments correctly"
As recently merged in https://github.com/QuickLogic-Corp/symbiflow-arch-defs/pull/548, the Quicklogic wrapper scripts now work with the files passed as arguments (instead of environment variables).

With this it's possible to use Edalize/FuseSoc to call each step correctly (as currently implemented).

The current packages provided in symbiflow-examples doesn't reflect these changes yet.

This also

[2021-12-14 07:23] umarcor commented on #185
@pgielda, I don't claim that using containers is better. However, it is faster and easier to update, particularly in CI. Therefore, it can be interesting for users who want to quickly use SymbiFlow without dealing with installing the Conda environment from scratch. That is not a solution to this issue, but informative.

For reference, in https://github.com/SymbiFlow/symbiflow-examples/actions/runs

[2021-12-14 07:35] pgielda commented on #185
Let me rephrase, what Tim mentions is an issue with additional env variables that maybe we can improve to not have to define.

What you propose is a change in the approach and a different discussion. By design this repo ("symbiflow-examples") was/is supposed to show users how to install Symbiflow toolchain(s) using conda (a packaging system that is distro-independent) on multiple different distros

[2021-12-14 07:43] umarcor commented on #185
@pgielda, do you suggest a symbiflow-examples-with-containers repo to be created in order to showcase how to build the same HDL sources from this repo using SymbiFlow on containers instead of "locally"?

I thought that the scope of this repo included building the same example using SymbiFlow by any "environment installation" procedure. Similarly to fomu-workshop, which shows 3-6 different strategi

[2021-12-14 07:45] umarcor opened #227 "SymbiFlow examples and containers"
@pgielda, do you suggest a symbiflow-examples-with-containers repo to be created in order to showcase how to build the same HDL sources from this repo using SymbiFlow on containers instead of "locally"?

I thought that the scope of this repo included building the same example using SymbiFlow by any "environment installation" procedure. Similarly to fomu-workshop, which shows 3-6 different strategi

[2021-12-14 08:08] umarcor commented on #28
@WhiteNinjaZ I think that yosys plugins are pinned in the `environment.yml` files:

- https://github.com/SymbiFlow/symbiflow-examples/blob/master/xc7/environment.yml#L11
- https://github.com/SymbiFlow/symbiflow-examples/blob/master/eos-s3/environment.yml#L7

And the arch-defs are pinned in the docs (see #223).

[2021-12-14 08:11] umarcor commented on #13
FTR, see https://carlosedp.medium.com/xilinx-open-source-fpga-toolchain-on-docker-containers-93202650a615 (and #227).

[2021-12-14 08:36] kgugala commented on #204
Using SymbiFlow in CFU playground is great idea - we'll be able to run tests in public CI. As for the wget - I don't see a problem with creating a meta-package which will do wget in its installation script.

[2021-12-14 23:36] tcal-x commented on #204
We do now have a make target that does both the `wget`s and installs the Symbiflow conda packages, and it runs in CI.

https://github.com/google/CFU-Playground/blob/main/Makefile#L38-L55

https://github.com/google/CFU-Playground/blob/main/.github/workflows/symbiflow.yml

It is not default -- it's not installed automatically when you do the regular setup.

[2021-12-15 13:56] carlosedp commented on #185
Agreed, I believe the container images should be all set just to be able to run each tool without all the download/install/setup and dependency dance. Without having additional steps like running a shell, calling activate and etc.

As an example, we have a wrapper script to FuseSoc's Edalize (https://gist.github.com/carlosedp/c0e29d55e48309a48961f2e3939acfe9) where for each tool called, the wrappe

[2021-12-15 14:02] carlosedp commented on #13
While the wrapper scripts does most heavy-lifting of wrapping the tools on Docker containers, I believe it should be improved as a way to detect which toolchain image should be used (for example xc7 vs eos-s3) and etc.

Ref. https://gist.github.com/carlosedp/c0e29d55e48309a48961f2e3939acfe9

[2021-12-17 16:12] nelsobe opened #230 "Running Symbiflow-examples with surelog"
@acomodi @mkurc-ant In a recent conversation @mithro suggested there was a way to run the symbiflow-examples toolchain using the surelog SystemVerilog front end.  We are preparing to have students run class projects through the tool flow and would like this to be an option.  Is there documentation anywhere on how to do this?  If not, would be happy to create some if we could learn how to do it.

[2021-12-20 10:37] MidsummerNight opened #231 "symbiflow-examples also doesn't download the latest prjxray-db"
Coming from SymbiFlow/symbiflow-arch-defs#2351, I found that `symbiflow-examples` also doesn't download the latest `prjxray-db`. The immediate cause is [environment.yml](https://github.com/SymbiFlow/symbiflow-examples/blob/6ce90115fae2bb827f11efe02fb44297064b458d/xc7/environment.yml) not pointing to the latest `prjxray-db` version (is there a bot to regularly update this file?), but could there be

[2021-12-21 12:51] carlosedp commented on #185
@umarcor .. isn't it possible to activate the conda environment thru a docker-entrypoint script or something like that beforehand?

Something like:
[code]

Having the images without the env set kinda complicates things a bit.

[2021-12-21 13:01] umarcor commented on #185
@carlosedp, see https://github.com/hdl/containers/issues/49#issuecomment-995491061. In gcr.io/hdl-containers/conda/symbiflow images, the environment is automatically activated through `profile.d`.

[2021-12-21 17:40] pgielda commented on #230
@tgorochowik @kgugala

[2021-12-23 14:22] kamilrakoczy commented on #230
Hello @nelsobe,

Yes, it is possible to use Surelog/UHDM front-end using symbiflow-toolchain, but it requires a few changes in the ``symbiflow_synth`` wrapper.

[Here](https://github.com/antmicro/yosys-uhdm-plugin-integration/pull/271), you can find an example of building Ibex using symbiflow toolchain with Surelog.

The main changes are in the ``symbiflow_synth`` file. I'm adding there an extra a

[2021-12-23 15:27] pgielda commented on #230
@kamilrakoczy @kgugala it would be great to add an example to symbiflow-examples that shows how to do that, and possibly extend the wrapper scripts to support that out of the box...

[2021-12-23 15:28] kgugala commented on #230
agree, we actually started working on that

[2021-12-29 03:38] mithro opened #234 "Why are all the clock commands commented out of the xdc file for linux_litex_demo?"
See https://github.com/SymbiFlow/symbiflow-examples/blob/140dbd1e3e762c9b5f0f52577b913e7e8bf7b7d9/xc7/linux_litex_demo/arty.xdc#L272-L290

It looks like an SDC file is being provided instead?

[2021-12-29 03:42] mithro opened #235 "Why is a PCF file being provided for the xc7/linux_litex_demo?"
The XDC file should be enough? Why is a PCF file being provided as well?

[2021-12-30 00:19] umarcor commented on #231
Ref: #223.

[2021-12-31 06:17] kgugala commented on #231
@MidsummerNight as discussed in #223 we don't want to use latest here - the idea is to have stable examples acting as entry point for users.

We still missing architecture definition for spartan7 so bumping DB would not really add S7 support to example designs

[2021-12-31 13:29] MidsummerNight commented on #231
@kgugala Understood, then I'll close this issue since spartan7 doesn't seem to be able to make it here any time soon.

[2021-12-31 13:29] #231 closed

[2022-01-01 23:29] mithro commented on #235
@acomodi - Do you know why?

[2022-01-04 14:46] tgorochowik opened #237 "Use regular yosys instead of quicklogic yosys"
Quicklogic yosys is used here:
https://github.com/SymbiFlow/symbiflow-examples/blob/master/eos-s3/environment.yml#L6

Can we use regular yosys package here?

Ref: https://github.com/hdl/conda-eda/issues/147

[2022-01-05 20:40] tcal-x opened #239 "udev permissions: add info to docs"
The user's first experience with an FPGA board might be with this repo, so they may encounter the usual udev permission issues while doing the examples here.   Add the info about how to update udev rules for the supported boards.

fyi @betocool-prog

[2022-01-05 23:38] pgielda commented on #239
I would say this is both "jtag" specific (you need permissions to access a usb device if your JTAG is a usb device) and also distro specific (you can have a distro without udev), and over all its a general problem with using anything that you connect over USB when you're not running as root. So the question is if we should really be covering this.
I guess in practice this is usually related to usi

[2022-01-05 23:42] pgielda commented on #239
@kgugala

[2022-01-10 13:08] betocool-prog opened #240 "What is a suitable editor for Symbiflow projects?"
I'm working through the Symbiflow examples and modifying some using VS Code with the "Verilog-HDL/SystemVerilog/Bluespec SystemVerilog" plugin. So far I've seen, it does a good job at highlighting syntax correctly, but that's about it. I have not been able to configure it to be able to jump between modules (e.g.: as with a C++ extension), which I'm missing.

I do like the attached terminal on VS C

[2022-01-10 13:29] pgielda commented on #240
Symbiflow is really a set of command line tools that take HDL language (text files, e.g. Verilog) to "compile" them (synthesize, place & route, generate fasm and finally generate an FPGA bitstream from it), very much (spiritually) like gcc or llvm (that take e.g. C code and spit out a binary). Therefore IDE is the programmers choice.

VS Code is definitely one option. I personally prefer old-schoo

[2022-01-11 22:24] nelsobe commented on #230
@kgugala
In our work on running collections of class designs we are finding problems with the existing build in terms of handling certain SystemVerilog features in student designs (things which Vivado handles just fine).  Surelog would be an interesting alternative to add to the flow to see if it handles these features better.

Could provide any details on your progress on working on supporting Su

[2022-01-11 23:43] nelsobe opened #241 "Strip spaces from variables TOP and TARGET in common/common.mk"
@kgugala @acomodi @mkurc-ant
Hi Guys, my students are running a Makefile adapted from the one in symbiflow examples to compile their designs as a part of a project to run tons of designs through the flow.  One of them inadvertantly put a trailing space on the line that says

"TOP := top "

That caused common.mk to throw a whole bunch of errors and the error messages made no sense.  The problem is

[2022-01-12 09:00] mkurc-ant commented on #241
Hello! Yes, that's reasonable. Making tools for users more robust and forgiving when provided inaccurate input is always welcome. Please go ahead and make the PR.

[2022-01-12 09:30] betocool-prog commented on #240
Unfortunately I never went much into vi(m) unless absolutely necessary. I don't mind the console aspect of the synthesis, placement and routing process.

As projects get larger and you have more and more modules, I find that text only editors lack the ability to click and jump between them. Not a deal breaker, but a nice to have.

[2022-01-12 10:24] pgielda commented on #240
what I am trying to say is that the toolchain is not limiting your ability to choose anything you want. So anything that works for you is suitable. There is no technical limitation in Symbiflow (to my knowledge) that prevents you from using any code editor you want.

[2022-01-12 10:24] #240 closed

[2022-01-12 18:06] nelsobe commented on #241
Done as PR #243.

[2022-01-12 18:06] #241 closed

[2022-01-13 13:06] kamilrakoczy commented on #230
I've prepared draft PR adapting symbiflow-examples to use uhdm-plugin: https://github.com/SymbiFlow/symbiflow-examples/pull/244.

As PR adapting ``symbiflow_synth`` wrapper is [not merged yet](https://github.com/SymbiFlow/symbiflow-arch-defs/pull/2364), in this PR I'm copying locally added ``symbiflow_synth`` to ``$INSTALL_DIR/xc7/install/bin/symbiflow_synth``. Then, setting ``SURELOG_CMD`` to (or

[2022-01-19 02:20] bl0x opened #245 "litex produces non-functional bitfile for digilent cmod a7 35t with symbiflow"
What is observed:
* A compiled litex bitfile for CMOD A7 35t using symbiflow toolchain does not work
    * LED chaser does not blink the LEDs
    * logging in via lxterm is not possible
* On the other hand, a bitfile compiled with Vivado works just as expected

What is expected:
* The bitfile should work also when compiled using symbiflow toolchain

Prerequisites:
* Symbiflow is installed accordin

[2022-01-21 07:45] lachlansmith opened #246 "ARM Linux can't resolve packages"
I'm on an M1 Mac inside an Ubuntu virutal machine following [SymbiFlow Getting Started](https://symbiflow-examples.readthedocs.io/en/latest/getting-symbiflow.html). When I execute this step:

[code]

Conda fails to solve the environment most definitely because conda is trying to resolve aarch64 as opposed to x86_64. It fails to resolve the following packages... everything.

[code]

Is there a work

[2022-01-21 12:55] pgielda commented on #246
No real workaround other than building from sources, as you pointed out the pre-compiled packages are available for x86_64. Having said that we will look at possibly providing aarch64 linux packages in the future. The main blocker is that there are no aarch64 github actions runners, we would  have to set up a custom architecture, and previously there was no interest. We could be using QEMU to buil

[2022-01-21 23:41] bl0x commented on #245
I've tried the same build with litex and symbiflow environment set up by [CFU-playground](https://github.com/google/CFU-Playground).

This works!

Versions used in CFU-playground

[code]

[2022-01-22 00:10] tcal-x commented on #245
@bl0x I seem to have reproduced what you saw.   Using the SymbiFlow install from symbiflow-examples, then using `litex_boards/targets/digilent_cmod_a7.py`, the generated bitstream does not seem to work on the CMOD A7 board.   The LEDchaser is not working, and there is no response on ttyUSB1.

[2022-01-22 00:15] bl0x commented on #245
Updating yosys to 0.13 and arch-defs to the 20211222 version allows to produce a working bitfile.
The main change was to unpin the versions in xc7/environment.yml and run a conda update.

[2022-01-22 00:56] lachlansmith commented on #246
Would be great if Symbiflow could solve this emerging issue. Vivado has no interest as seen here, [Vivado ARM Linux](https://support.xilinx.com/s/question/0D52E00006hprrp/vivado-on-arm-linux?language=en_US).

[2022-01-22 01:53] lachlansmith commented on #246
Just realised I can give this a try under Rosetta emulation on MacOS. I’ll let you know.

[2022-01-23 19:50] mithro commented on #245
FYI - @acomodi / @kgugala

[2022-01-24 08:29] acomodi commented on #245
@bl0x @tcal-x Great to hear that it works. The CMOD A7 should be on the way so I can test on HW as well.

I am not sure though what might have changed in the tools and arch-defs that fixed the issue, so I thing that we might still need to investigate what is going on to have a clearer picture.

[2022-01-24 20:01] pgielda commented on #246
There is definitely interest and its definitely doable. Also the whole project is open source so there is no technical obstacle, just a matter of doing it ;)

I will report once there is some progress on any of the packages. We do need to set-up some CI infra for ARM within the project first to be able to test properly.

[2022-02-10 01:11] tcal-x commented on #245
@acomodi -- have you received your CMOD A7 yet? :)

[2022-02-10 12:05] acomodi commented on #245
@tcal-x Yep, actually it has arrived, I am gonna give it a try tomorrow probably

[2022-02-11 15:37] tmichalak commented on #191
@Talha-Ahmed-1 I am not able to reproduce the problem. Can you double check if the xdc and design are up to date?

[2022-02-11 22:55] nelsobe commented on #191
I believe I get this error when I have had a missing signal in my .xdc file...

[2022-03-08 21:52] nelsobe opened #262 "Symbiflow-classroom: "Message: Failed to find matching architecture model for 'RAMB36E1'""
SYMBIFLOW-CLASSROOM-PROJECT

Using original Yosys frontend.

When compiling a design containing a RAMB36E1 primitive instantiation we get the following error:

`
Message:` Failed to find matching architecture model for 'RAMB36E1'
`

The error comes from the bramMacro.v file which is trying to instantiate a RAMB36E1 primitive.

We find this curious because in the .../opt/f4pga/xc7/install/share/sym

[2022-03-08 21:56] nelsobe commented on #262
Also, not sure why, but I cannot assign labels to this issue like I can with previous symbiflow repos...

[2022-03-08 23:56] nelsobe opened #263 "Symbiflow-classroom: Array Initializers Do Not Work"
SYMBIFLOW-CLASSROOM-PROJECT

If SV code contains a legal array declaration and initialization like this:
`
      // Lookup table for % 3 calculation.
    logic[1:0] modmem[8] = '{0, 1, 2, 0, 1, 2, 0, 1};
`
a syntax error results.   Arrays cannot be initialized this way with the tools (but it is legal SV and works with other tools).

[2022-03-09 00:02] nelsobe opened #264 "Symbiflow-classroom: "Error declaring a variable inside an always_comb block""
SYMBIFLOW-CLASSROOM-PROJECT

The tools give compile errors when the integer is declared local to the always_comb body:

`
always_comb begin
    integer index;

    if (hcount < H_PIXELS && vcount < V_PIXELS) begin
        for (index = 0; index < 4; index = index + 1) begin
            VGA_R[index] = rd_data[2];
            VGA_G[index] = rd_data[1];
            VGA_B[index] = rd_data[0];
        e

[2022-03-09 00:04] nelsobe opened #265 "Symbiflow-classroom: "Multiple include causes error""
SYMBIFLOW-CLASSROOM-PROJECT

Using the include macro to include the same module more than once in a project (perhaps from different locations in the files) causes an error.  While bad practice, this causes an error for the tools while Vivado just redefines the module.

[2022-03-09 00:07] nelsobe opened #266 "Symbiflow-classroom: Older style parameter declarations not supported"
SYMBIFLOW-CLASSROOM-PROJECT

In SystemVerilog a parameter to a module can be define in one of two ways:

[code]

as well as:

[code]

The first way (the newer way) is not supported.

[2022-03-09 00:11] nelsobe opened #267 "Symbiflow-classroom: Parameterizing top-level module"
SYMBIFLOW-CLASSROOM-PROJECT

If a top-level module in a design has a parameter associated with it, is there a way to provide a value for that parameter when the tool flow is run?

[2022-03-09 00:16] nelsobe commented on #262
Is there a way to make a list of the primitives NOT supported by the toolchain?

[2022-03-09 02:11] nelsobe opened #268 "Symbiflow-classroom: MMCM placement error"
SYMBIFLOW-CLASSROOM-PROJECT

Compiling the included files results in the following error.  The design has 2 MMCM's - related to this?

[code]
[mmcm.zip](https://github.com/chipsalliance/f4pga-examples/files/8211043/mmcm.zip)

[2022-03-09 02:25] mithro commented on #262
FYI - The newer interchange stuff has a spreadsheet @ https://docs.google.com/spreadsheets/d/1hF7-PpOpa35uik2C2-RYSpY-oFJS2SpbVJj_SF_IAF0/edit#gid=0 which tracks the status...

[2022-03-09 02:26] mithro commented on #262
I found a spreadsheet at https://docs.google.com/spreadsheets/d/1RlSiC9RJrrswtYfE5DnPGegpP2v7pautYixhwMAKyN0/edit#gid=0 -- Don't know where that comes from.

[2022-03-09 02:29] nelsobe commented on #262
The interchange spreadsheet shows tests for the RAMB36E1.  So, the problem we are seeing might lie elsewhere...?

[2022-03-09 02:31] mithro commented on #262
The newer interchange format stuff is not used here yet.

[2022-03-09 03:17] nelsobe commented on #262
Thanks!  I looked and the first spreadsheet has tests for RAMB36E1, suggesting it is supported.  But, it would seem not.  So, not sure where the error lies.  When I recoded the verilog to be behavioral, Yosys turned it into two RAMB18's and that goes through fine.

[2022-03-09 03:18] nelsobe commented on #263
@mithro @acomodi @tmichalak @mkurc-ant Would be interested in any feedback you can provide.

[2022-03-09 03:19] nelsobe commented on #264
@mithro @acomodi @tmichalak @mkurc-ant Would be interested in any feedback you can provide.

[2022-03-09 03:19] nelsobe commented on #265
@mithro @acomodi @tmichalak @mkurc-ant Would be interested in any feedback you can provide.

[2022-03-09 03:19] nelsobe commented on #266
@mithro @acomodi @tmichalak @mkurc-ant Would be interested in any feedback you can provide.

[2022-03-09 03:19] nelsobe commented on #267
@mithro @acomodi @tmichalak @mkurc-ant Would be interested in any feedback you can provide.

[2022-03-09 03:20] nelsobe commented on #268
@mithro @acomodi @tmichalak @mkurc-ant Would be interested in any feedback you can provide.

[2022-03-09 11:22] rkapuscik commented on #263
Could you provide more details on which tool are you using and with what options? I verified that UHDM plugin for yosys correctly parses this declaration - it is present in UHDM and in Yosys AST. I tested this using both Surelog to create UHDM file and `read_verilog_with_uhdm` in yosys with plugin.

On the other hand, using this in original yosys' verilog frontend does cause a syntax error:
[code]

[2022-03-09 11:49] rkapuscik commented on #267
Please specify the tool. For:
* Yosys with UHDM plugin: `-Pparameter=value` overrides a toplevel module parameter
  * using Surelog separately: add it to the command, i.e. `surelog -parse -Pparameter=value top.sv`, then use `read_uhdm` in Yosys
  * using UHDM frontend directly (which uses Surelog under the hood): add it to the `read_verilog_with_uhdm` command, i.e. `read_verilog_with_uhdm -parse -

[2022-03-09 11:57] rkapuscik commented on #266
Could you specify which tool are you trying to run and with what options? I.e. for Yosys with UHDM plugin, we have tests that cover both [first](https://github.com/chipsalliance/UHDM-integration-tests/blob/master/tests/ReplicationPassedToInstance/top.sv) and [second](https://github.com/chipsalliance/UHDM-integration-tests/blob/master/tests/ParameterFromPkgInNestedModule/top.sv) way and both of the

[2022-03-09 15:02] rkapuscik commented on #265
Could you specify the tool you're using and the exact error?

I've created [this test](https://github.com/chipsalliance/UHDM-integration-tests/pull/686). It does fail in Yosys with Verilog frontend, but passes in UHDM frontend. I tested it also in Surelog and Verilator and they issue only a warning in this case.

[2022-03-09 17:04] nelsobe commented on #263
@rkapuscik Thanks for the reply.  All of issues #263 through #268 occur using the original yosys verilog frontend.

[2022-03-09 17:12] nelsobe commented on #266
Using original Yosys front end.

[2022-03-09 19:58] nelsobe opened #269 "Symbiflow-classroom: Surelog/UHDM and multi-bit input signals"
SYMBIFLOW-CLASSROOM-PROJECT

Using Surelog/UHDM front end.  Obtained from cloning f4pga-examples and then doing:

[code]

Attached is a simple design that compiles successfully using
yosys standard frontend. All it does is turn on LEDs when switches are flipped.

This design compiles successfully using SURELOG/UHDM if, instead of naming the
input logic ports iteritavely (sw[0],sw[1],sw[2]),
they a

[2022-03-10 02:42] mithro opened #270 "Create a demo for the NiteFury / Acorn boards"
It would be awesome to have a demo with using the open source tools targeting the popular NiteFury / Acorn boards.

Lots of details in https://github.com/antonblanchard/microwatt/issues/355

According to the [`sqrl_acron.py` file in LiteX](https://github.com/litex-hub/litex-boards/blob/master/litex_boards/platforms/sqrl_acorn.py);

LiteX also has a way to provide a UART over the PCIe bus (and also

[2022-03-11 08:22] mkurc-ant commented on #268
Let me see what the problem might be.

[2022-03-11 11:11] acomodi commented on #262
@nelsobe looking at the techmapping files, the [RAMB36E1 primitive](https://github.com/SymbiFlow/f4pga-arch-defs/blob/master/xc/xc7/techmap/cells_map.v#L1335) should be supported. One thing that comes to my mind is that there is a techmap failure and the `RAMB36E1` does not get translated in the "VPR-readable" `RAMB36E1_PRIM`.

Can you please upload the yosys log file if present? It should be call

[2022-03-11 14:25] mkurc-ant commented on #268
@nelsobe The problem was with the clock constraint generator script which was constraining both `MMCM`s to the same site. This was due to the hard requirement of having a `PLL`/`MMCM` and an `IBUF` that drives it in the same CMT region.

I have created a PR with a fix: https://github.com/SymbiFlow/f4pga-arch-defs/pull/2493

[2022-03-11 14:44] kbieganski commented on #269
It does indeed seem to be a bug in Surelog. Filed an issue: https://github.com/chipsalliance/Surelog/issues/2733

[2022-03-11 23:43] nelsobe commented on #262
@mkurc-ant Here is the synthesis log...

[multicycle_iosystem_synth.log](https://github.com/chipsalliance/f4pga-examples/files/8236496/multicycle_iosystem_synth.log)

[2022-03-11 23:51] nelsobe opened #271 "Question: Possible to test tools without .xdc file?"
When a design won't go through the tools it would be nice to be able to narrow down the issue by only compiling the individual module with the problem and posting the results with the issue.  However, to do so requires an .xdc file be created, which is painstaking for modules with lots of I/O.  Case in point: we have a simple memory module failing synthesis, presumably because Yosys doesn't like B

[2022-03-15 08:50] acomodi commented on #271
@nelsobe There should be no problem of leaving unmapped I/Os, if you are only interested in the synthesis step only.
In case the tools complain about missing XDC file, you may try and provide an empty one.

For P&R this makes it a bit more challenging, and random mapping of IOs _might_ result in an unroutability error later in the flow.

[2022-03-17 13:59] tmichalak commented on #264
@nelsobe could you provide more details on the errors you get?

[2022-03-17 20:55] nelsobe commented on #271
@acomodi Thanks for the reply.  This is helpful.  When you talk about random mapping of IOs, are you saying there is a way to ask the tools to map them (and they will be random) or are you saying we would need to do the random mapping ourselves?

[2022-03-17 20:58] nelsobe commented on #267
@rkapuscik Thanks for the info - very helpful!

[2022-03-17 20:58] #267 closed

[2022-03-17 21:02] nelsobe commented on #266
@rkapuscik Can you clarify something for us?  In our mind there are two ways to run the toolchain.  The first is the "out of the box" install which we have interpreted as being the Yosys front end (thus my answer above).  The other way we understand is Surelog+UHDM front end.  You mention Yosys with UHDM, is this a third way or is this the first way I mentioned in my response?  Thanks.

[2022-03-18 08:45] acomodi commented on #271
@nelsobe By default, at least for VPR, the I/O mapping happens similarly as any other block in the device, that is that it will be handled by the placer algorithm, so the outcome will be "random" in the sense that it will be automatically be placed by the tool.

[2022-03-18 08:52] rkapuscik commented on #266
You're right. There are two main ways - original Yosys Verilog frontend and UHDM plugin frontend. Yosys with UHDM plugin is the same as Yosys with Surelog+UHDM.

One detail here is that the plugin enables two flows:
1.  reading UHDM file created separately by using Surelog (`read_uhdm` command)
2.  reading Verilog and SystemVerilog files directly, using Surelog inside the plugin as a library (and

[2022-03-18 13:14] mkurc-ant commented on #268
@nelsobe I think I have finally solved the placement problem. I added a test for dual MMCM design as well.

One note though: You need to set `COMPENSATION` to `ZHOLD` in your design or remove `BUFG`s from the feedback loop. This is because by default compensation is set to `INTERNAL` which implies internal `MMCM` feedback. Currently the toolchain cannot infer the setting basing on the actual conne

[2022-03-18 14:17] rkapuscik commented on #269
The Surelog issue was resolved, but we need to update the plugin to use the newest version. We'll let you know when it's done.

[2022-03-22 13:40] nelsobe commented on #264
@tmichalak Working on getting a trace from the student.

[2022-03-22 13:52] nelsobe opened #277 "Symbiflow-classroom:Reset of BRAM Output Register"
SYMBIFLOW-CLASSROOM-PROJECT

Below is a snippet of code from a riscv design used in our junior level course.

As can be seen, the reading from the BRAM includes a reset condition as well as a conditional read.

When processed by the standard Yosys front end, the inst_memory is not mapped to a BRAM but it seems is mapped to FF's, resulting in a non-functional design (curiously, this seems to cause

[2022-03-22 14:38] mkurc-ant commented on #277
It seems that Yosys expects the attribute to be `ram_style` instead of `rom_style`. See: https://github.com/YosysHQ/yosys/blob/322ab1cd54f4cddba4e9408887ed822c541185f9/techlibs/xilinx/xc7_xcu_brams.txt#L92

[2022-03-24 08:32] mkurc-ant commented on #277
@nelsobe Thank you, I'll take a look on that today.

[2022-03-24 11:38] mkurc-ant commented on #277
@nelsobe Let me share my findings:

First of all it looks like you are using an outdated Yosys version (`Yosys 0.9+4270 git sha1 539d4ee9`) which seems to cause problem in BRAM inference in some cases. I've tried the upstream one that is `Yosys 0.15+44 git sha1 3bf107024`. With the upstream version there were no issues with inferring BRAM for `inst_memory` whatsoever.

Unfortunately the memory inf

[2022-03-24 14:38] mithro commented on #277
@mkurc-ant - Why is our version of Yosys so old? Isn't it suppose to be auto-updating?

[2022-03-24 14:44] mithro opened #280 "Yosys version not moving forward automatically? Need to make sure we are on HEAD"
From https://github.com/chipsalliance/f4pga-examples/issues/277#issuecomment-1077533522
-----

-----

----

Which I replied to with the following https://github.com/chipsalliance/f4pga-examples/issues/277#issuecomment-1077700409;

It is super important that we try to stay as close to Yosys HEAD as possible. We really want everything to be updated within 24 hours if possible.

FYI -- @acomodi / @kg

[2022-03-24 15:50] mkurc-ant commented on #277
@mithro I need to confirm that but it may be that the dependabot creates a PR for each new Yosys package and it just can't keep up with the pace they are added.

[2022-03-24 16:16] tcal-x commented on #280
We encountered this in https://github.com/chipsalliance/f4pga-examples/issues/245 as well.   The user's bitstream didn't work with the f4pga-examples pinned installation of SymbiFlow, but it DID work with the unpinned (and therefore most recent) SymbiFlow installation from CFU Playground.

I recall the discussion then being that we wanted to stay on a "known good" version of the tools for f4pga-ex

[2022-03-24 16:29] hzeller commented on #280
Is there a roundtrip possible in which hardware testing can be automated ? Like a circuit that determines if, say, a LED blinks ?
A CI with no humans in the loop is the best.

[2022-03-24 16:35] pgielda commented on #280
Agreed. But there is lots of demos so probably hard to automate all. We could agree on a set of demos (that e.g. cover some of the Arty demos) that if pass in CI we assume its a good enough indicator... we have some Arty runners internally. But nothing externally exposed to Github Actions currently. But obviously cam be done long term

[2022-03-24 16:45] mithro commented on #280
If our CI on this repository is green I think we should merge the updated Yosys.

If this causes issues for our end users then it will prompt us to improve the CI.

[2022-03-24 22:18] nelsobe opened #281 "Symbiflow-classroom: Initialization of memories using $readmemh()"
SYMBIFLOW-CLASSROOM-PROJECT

Using Yosys front end.

The following code does NOT initialize the memory:

		// Load the Instruction Memory
		if (TEXT_MEMORY_FILENAME == "") begin
			$display("**** Top-Level I/O System: No instruction memory defined");
			$finish;
		end
		else begin
			// Initialize memory with NOPs
			for (i = 0; i < INSTRUCTION_WORDS; i=i+1)
				inst_memory[i] = NOP_INSTRUCTION;

[2022-03-24 22:38] nelsobe commented on #262
@mkurc-ant @mithro  I can confirm that commenting out the 2 inputs you mention above makes the design compile.

However, it would seem for usability sakes that a much better error message should be emitted than simply "cannot find an architecture for RAMB36E1".

For example, simply stating the unknown inputs would have saved multiple hours of work.

Alternatively, listing the architectures for RAM

[2022-03-25 04:39] nelsobe commented on #262
@mkurc-ant
I have gone through the techmapper and compared ports in our code with the ports in the techmapper code.

The missing inputs in the techmapper are:
    INJECTDBITERR
    INJECTSBITERR
    CASCADEINA
    CASCADEINB

It would seem that, since the techmapper is currently incomplete, it would be helpful to output an error message suggesting to the user what versions of a given primitive the

[2022-03-25 04:50] nelsobe commented on #262
@mkurc-ant  Even with the above ports commented out in our code, right at the end of the process we get a FASM write error.  Any thoughts on what that might be?  I am not sure how to tell if our code is bad or it is the tools.

I have attached the synthesis log and the eblif file.  Are there other files that might be helpful?

Here is the error:

# Annotating rr_node with routed nets
# Annotating

[2022-03-25 08:50] acomodi commented on #262
@nelsobe I believe that outputting such an error during synthesis may not be so trivial, but we'll see if something can be done. The fact is that this is not an error per se, but rather it is a situation where there is no techmap available for the given cell because the I/Os do not match, so for yosys, this cell should just be left as it is. No error is generated because there is no real failure d

[2022-03-25 14:34] nelsobe commented on #262
@acomodi Thanks for the response.  My take is that if the error is on the user's part iin terms of specifying an incorrect port it may not be so necessary to output a very elaborate error message.  But when the techmapper is missing ports it is very confusing (and discouraging) to users to have code that goes through Vivado without error refuse to compile...

I have changed the DOB_REG parameter t

[2022-03-28 17:54] nelsobe commented on #264
@tmichalak The error provided by the tools is that a latch is inferred on the "index" signal and the compilation fails.

We do not believe that a latch should be inferred (or the compilation fail) since "index" is local to the always_comb  block.   In this code "index" is functioning like a VHDL variable - used to help in the computation but not intended to carry information out of the block.

[2022-03-29 09:07] mkurc-ant commented on #268
@nelsobe The PR with the fix has been merged. Please verify that the problem is gone.

[2022-03-29 16:20] nelsobe commented on #277
@mkurc-ant @tmichalak
Thanks for the follow ups we are seeing on some of these issues.  We are slowly debugging and doing workarounds and now have a handful of our student labs now operational.  Bug/issues have been filed on everything we have file thus far.

But, as @mithro pointed out in our meeting last week, in our role as users of the tools (instead of developers) my students (and me) are not

[2022-03-29 16:41] nelsobe commented on #281
@rkapuscik

I am unsure how to get the latest surelog with the f4pga-examples tools - thus my question on #269.

However, attached is a full test case up through bitfile showing that the $readmem is ignored when the initialization loop is included.  This is for the Yosys front end.

[readmem.zip](https://github.com/chipsalliance/f4pga-examples/files/8373371/readmem.zip)

[2022-03-30 10:40] lachlansmith commented on #246
Hi @pgielda understanding these things take time, what does this space look like at the moment?

[2022-03-30 17:16] mithro commented on #246
FYI - https://github.com/SymbiFlow/conda-packages/pull/160

[2022-03-31 13:59] rkapuscik commented on #269
Sorry that I wasn't clear enough. By updating Surelog, I mean that

1. New version of Surelog is available on [litex-hub](https://anaconda.org/LiteX-Hub/repo) (it is used by conda to setup the tools)
2. We verify that the new version works with our plugin (tracked in the [integration repository](https://github.com/antmicro/yosys-uhdm-plugin-integration))

Reinstalling f4pga-examples will give you

[2022-04-01 14:47] nelsobe commented on #230
@kamilrakoczy @tmichalak Has any of this been merged into f4pga-examples so my students can use it "out of the box"?

[2022-04-04 21:35] nelsobe commented on #277
@mkurc-ant @tmichalak @mithro
Any news on item 4 in the comment above?  We would like to test the latest Surelog plugin with f4pga-examples and are waiting for it to be supported by the synthesis scripts.  Thanks.

[2022-04-04 21:53] nelsobe commented on #277
@mkurc-ant @tmichalak Have confirmed the error has to do with the reset clause, NOT the conditional read clause.  Assume, but don't know for sure, that this is a synthesis problem and not a parsing problem and therefore the surelog plugin will not solve this.

[2022-04-05 07:45] acomodi commented on #262
@nelsobe We'd probably need to go through the techmap definitions to catch some possible inconsistencies with the top level IOs. The problem is that, if a primitive instance has more IO ports defined w.r.t. the ones defined in the techmap, yosys will not even try to perform the techmap pass for that instance, and skip it completely. This is not something that can be caught easily.

This on the oth

[2022-04-05 07:50] mkurc-ant commented on #268
@nelsobe Right. The problem was that apart from merging the fix into `f4pga-arch-defs` we also need the CI to generate an installable package and upload it to GCP.

That mechanism was broken. We have fixed it recently and the new package should be available as of now. There is an open PR to `f4pga-examples` which bumps its version: https://github.com/chipsalliance/f4pga-examples/pull/282. You may

[2022-04-05 10:42] acomodi commented on #262
@nelsobe I have opened a PR in f4pga-arch-defs: https://github.com/SymbiFlow/f4pga-arch-defs/pull/2566.
Once it is merged and a new package generated, we can update `f4pga-examples`.

That PR should fix this issue, basically allowing you not to add those 5 changes to the `RAMB36E1` instance

[2022-04-05 12:17] kamilrakoczy commented on #230
@nelsobe

PR adding optional (for now) ``systemverilog`` (renamed ``uhdm``) plugin support in f4pga-examples just got merged: https://github.com/chipsalliance/f4pga-examples/pull/244.

Now systemverilog frontend can be used out-of-box, but it is still optional, as not all examples are working yet. Progress on adapting remaining examples can be tracked here: https://github.com/chipsalliance/yosys-f

[2022-04-05 12:44] mkurc-ant commented on #268
The PR is meged now and the current version of `f4pga-examples` should include the fix on the master branch

[2022-04-08 14:09] rkapuscik commented on #281
Thanks for the test case. The error is indeed in Yosys itself - both frontends parse the loop and `$readmemh` call and generate the AST, but the simplify step in Yosys incorrectly removes some of the nodes. Unfortunately it's not trivial (if possible) to prevent that in a frontend.

As a workaround, could you create a complete memory file to be loaded (with the NOPs)? It should be fairly easy to s

[2022-04-08 21:15] nelsobe commented on #281
Thanks for the reply.  Yes, we did do a workaround as you suggest.  Interestingly, I never would have thought to put anything in an initial block other than a $readmem() call.  But, one of the other faculty did - that is why we are having lots of people's designs be part of our testing...

[2022-04-12 21:57] nelsobe opened #288 "SYMBIFLOW-CLASSROOM Surelog/UHDM doesn't handle typed parameters"
The following code throws a compile error on the parameter statement when compiled with the UHDM.  Removing the 'integer' solves it.    It compiles and runs correctly with both Vivado as well as the original Yosys front end.
[code]

A complete test case is below.  The command line used to compile with the latest version of f4pga-examples is:
[code]
Note that my Makefile sets the part itself and so

[2022-04-12 22:07] nelsobe opened #289 "SYMBIFLOW-CLASSROOM Surelog/UHDM Don't Support Verilog Built-In Gates"
Designs which use the Verilog built-in gates do not work with Surelog/UHDM.  Two designs are below.  Neither work correctly.    However, both work in Vivado and with the Yosys front end.

Tools were run using `SURELOG_CMD="-parse -DSYNTHESIS" make`

### Design #1
Just a simple combinational logic lab the students do.

Initially thought it might be that the tools don't like combinational-logic-only

[2022-04-13 21:56] nelsobe opened #290 "SYMBIFLOW-CLASSROOM Surelog/UHDM Doesn't Handle `default_nettype none"
The macro \`default_nettype none is commonly used to cause compilers to throw an error when an undeclared net name is encountered since the tools cannot infer a new net of a given type with this macro in place.  It catches many typo errors as a result.

Here is a sample design that should result in an error :
[code]
Both Vivado and the Yosys front end handle it correctly (they throw an error).  Th

[2022-04-13 22:14] nelsobe opened #291 "SYMBIFLOW-CLASSROOM Surelog/UHDM and enum's"
In the code below there are two typedefs with enums in them (they are preceded with comments).

Both work in Vivado and in the Yosys front end.

However the Surelog/UHDM front end doesn't handle the first variation correctly.  With it, the synthesis log suggests it has reduced the 'cs' signal to be just one bit wide instead of two.

[code]

[2022-04-14 17:19] nelsobe commented on #262
@acomodi   I just now did a clean reinstall and am still getting the same error - has the fix been incorporated into f4pga-examples?

[2022-04-14 17:26] acomodi commented on #262
@nelsobe Yes, it has already been integrated, I'll try to reproduce it as well.

What error of the two are you getting?

[2022-04-14 17:29] nelsobe commented on #268
My testing shows it now working.  I believe this issue can be closed.

[2022-04-14 17:52] nelsobe commented on #266
I have done some re-testing and this does seem to work with Yosys.  I don't know if it was because the distribution was behind on Yosys (which we discovered with other issues), maybe that was the issue.  But it is working now so, I believe it can be closed.

[2022-04-14 17:52] #266 closed

[2022-04-14 18:00] nelsobe commented on #262
@acomodi Still getting this:
[code]
And, this was with the 4 parameters from above and with the DOB_REG being just the constant 0.

[2022-04-14 18:10] nelsobe commented on #262
@acomodi

The only way to get it to succeed is to comment out the 4 parameters:
INJECTDBITERR
INJECTSBITERR
CASCADEINA
CASCADEINB

and to convert the DOB_REG to 1'b0.

Then it works.   So, it seems that nothing has changed yet - did the fixes you made get merged yet?

[2022-04-15 13:13] rkapuscik commented on #289
Thanks for reporting this, we haven't handled built-in gates so far. https://github.com/chipsalliance/yosys-f4pga-plugins/pull/302 adds support for them and with it your designs give the same AST as Yosys' default frontend.

[2022-04-15 13:33] acomodi commented on #262
@nelsobe The fix should actually be there already, I have tested locally and everything seems to be working as expected.

Can you confirm that the correct package (https://storage.googleapis.com/symbiflow-arch-defs/artifacts/prod/foss-fpga-tools/symbiflow-arch-defs/continuous/install/20220406-185509/symbiflow-arch-defs-install-3ef4188.tar.xz) has been installed?

The linked package contains the up

[2022-04-15 14:47] nelsobe commented on #262
@acomodi

The docs for f4pga-examples are still pointing to older packages so, no, I was not using that particular package.  How would a user know to get newer packages if the docs are out of date?   Is there a list somewhere else?

I think the install process needs to be changed somehow - we have spent a lot of time this semester trying to figure out when things have been merged and then trying t

[2022-04-15 14:52] nelsobe commented on #262
@acomodi   I have just finished testing with the package you mention above and it is now working.   Thanks!

[2022-04-15 15:04] nelsobe commented on #269
@rkapuscik Thanks!  Have verified it works, closing issue.

[2022-04-15 15:04] #269 closed

[2022-04-15 15:07] nelsobe commented on #277
@mkurc-ant @tmichalak Any word on this one?  As mentioned above, I have confirmed the error has to do with the reset clause in the code.

[2022-04-15 15:17] nelsobe opened #292 "Documentation: How to keep install instructions up to date?"
The last step of the installation is to install a set of tar files like this:
[code]

However, on more than one occasion this semester the documentation was not updated with the latest packages, causing confusion amongst our users when supposed fixes were not reflected in the installed version.

A mechanism to keep the docs up to date would be helpful.

Or, can instructions be put in place to tell

[2022-04-19 10:35] mkurc-ant commented on #292
Hi @nelsobe.

The packages mentioned in the documentation are not necessarily the most recent ones but are the ones known to work as their use with `f4pga-examples` is tested in CI. Links to them are not automatically updated (yet) so if newer ones are needed one has to issue a PR that updates those links.

There is no possibility of the documentation and the packages versions getting out of sync

[2022-04-19 12:14] mkurc-ant commented on #277
@nelsobe We have checked the issue against Yosys and it looks like the problem is in the memory inference mechanism in Yosys itself.

In your design you are using the specific Xilinx feature where the output register of a BRAM can be externally reset to all-zeros. However, memory inference in Yosys is generic, it can infer a BRAM with output register but it is completely unaware of the possibility

[2022-04-25 20:24] nelsobe commented on #292
@mkurc-ant Any word on whether the instructions are now up to date so the latest fixes are inckluded?

[2022-04-26 09:40] mkurc-ant commented on #292
Hi @nelsobe. Apparently there was an issue in the docs deployment system and the docs you could access on RTD were outdated. Nevertheless all the relevant fixes are in place. Pleas report if you still observing any failures.

[2022-04-28 13:53] rkapuscik commented on #290
Thanks for reporting this, https://github.com/chipsalliance/yosys-f4pga-plugins/pull/301 should make the frontend error out in this case. I will let you know when the fix will be available through conda.

[2022-05-02 10:21] Talha-Ahmed-1 opened #293 "Clock name or pattern 'pll.clk_in1' does not correspond to any nets."
[code]
I am getting confused with this error. Where as pll.clk_in1 is wired with the clock.

[code]

[2022-05-07 21:39] YCin opened #294 "Symbiflow_synth : "-- Parsing `counter.v' using frontend ` -vlog2k' -- ERROR: Can't open input file `counter.v' for reading: No such file or directory"
Hi
When i try to test the example counter_test of X-ray project inside the board Artix7 35tcsg324-1 i have the following error
-- Parsing `counter.v' using frontend ` -vlog2k' --
ERROR: Can't open input file `counter.v' for reading: No such file or directory

are there any one have suggestions fro this problem.

Thanks

[2022-05-07 22:53] YCin commented on #294
symbiflow_write_bitstream -d artix7 -f top.fasm -p xc7a35tcpg236-1 -b example.bit
Writing bitstream ...
Traceback (most recent call last):
  File "/home/gg/opt/f4pga/xc7/conda/envs/xc7/bin/xcfasm", line 8, in <module>
    sys.exit(main())
  File "/home/gg/opt/f4pga/xc7/conda/envs/xc7/lib/python3.7/site-packages/xc_fasm/xc_fasm.py", line 63, in main
    emit_pudc_b_pullup=args.emit_pudc_b_pullup)

[2022-05-09 17:24] nelsobe commented on #289
@rkapuscik @mithro @acomodi @mkurc-ant @tmichalak Thanks to @rkapuscik for providing the fix for this.

However, when a fix is made for an issue such as this, we currently have no way of knowing when the fix has made its way through the rest of CI, the f4pga-arch-defs process, and into the f4pga-examples documentation so that the correct packages get installed by our student testers.  Without this

[2022-05-10 16:11] Pocketkid2 commented on #271
Yesterday I ran a basys3 project through symbiflow via Edalize and discovered that without having the constraints file the vpr_io_place script fails altogether due to a runtime error. I initially fixed it by adding square brackets to allow for an empty array but I think a better solution is to warn the user if there's no constraints and they haven't flagged that that's what they want.

[2022-05-10 16:36] mithro commented on #289
@mgielda / @pgielda / @kgugala - Can you please look at this and figure out what we should be doing about this?

[2022-05-10 16:56] pgielda commented on #289
So essentially f4pga-examples installs packets via conda with versions (for xc7) specified by this file:
https://github.com/chipsalliance/f4pga-examples/blob/main/xc7/environment.yml
This change is in plugins so at the time I am writing f4pga-examples use this package:
litex-hub::symbiflow-yosys-plugins=1.0.0_7_855_gd64a754=20220330_123635
which is dated for 30th of March.
The change was merged ar

[2022-05-10 17:01] kgugala commented on #289
we update the file manually - to be sure the examples are stable. I'll open a PR bumping the plugins version

[2022-05-10 20:42] nelsobe commented on #289
@kgugala @mithro Thanks for the response.

If a process could be agreed upon so that our students could be informed of just what modules to use with f4pga-examples to test a specific bug fix once it is made, they could be a part of the verification process and help provide data on  when the version can be bumped.

Without it, every issue we file requires this kind of personal interaction to get a

[2022-05-18 23:44] umarcor opened #297 "Bump arch-defs packages and install f4pga through pip"
Since https://github.com/SymbiFlow/f4pga-arch-defs/pull/2509 was merged, arch-defs packages no longer include `symbiflow_*` tool wrappers used by the makefiles in this repository (https://github.com/chipsalliance/f4pga-examples/blob/main/common/common.mk#L60-L76). The examples will *not* break immediately, because the versions of the arch-defs packages are pinned. However, in order to bump them, t

[2022-05-18 23:50] umarcor opened #298 "Convert examples to use `f4pga build` instead of makefiles"
Since https://github.com/chipsalliance/f4pga/pull/530 was merged, the examples in this repository can be converted to use `f4pga build` instead of the current makefile based infrastructure. Python package `f4pga` includes entrypoints for the *deprecated* wrappers along with the new `build` subcommand. Therefore, examples can be converted one-by-one.

However, we need to first address #297.

[2022-05-19 00:33] umarcor opened #299 "Document how to update/override specific tools"
Repositories in the F4PGA ecosystem use Conda for setting up the environment including all the required tools/dependecies. Conda allows pinning each of them, so the whole environment is known to play nicely alltogether. Nonetheless, there are use cases which require changing the version of some tool, or using an installation from outside the Conda environment. For instance, a user finds a bug, it

[2022-05-19 00:59] umarcor commented on #262
@nelsobe can we close this issue and discuss the enhancements to the documentation in #292 and #299 ?

[2022-05-19 18:17] Pocketkid2 opened #302 "Couldn't read file /scripts/xc7/synth.tcl"
Installing the F4PGA flow and attempting to build the counter example according to the instructions on the pages [here](https://f4pga-examples.readthedocs.io/en/latest/getting.html) and [here](https://f4pga-examples.readthedocs.io/en/latest/getting.html) results in the following error:

[log.txt](https://github.com/chipsalliance/f4pga-examples/files/8732823/log.txt)

I had previously installed F4P

[2022-05-19 18:20] umarcor commented on #302
@Pocketkid2 can you please explain the procedure you followed? Did you install f4pga through pip? Did you do it after or before creating the Conda environment?

[2022-05-19 18:29] Pocketkid2 commented on #302
I followed the instructions on the first page linked above which involved setting up the environment and then running the wget commands to download the code. Then I went and ran the make command shown on the second linked page.

[2022-05-19 18:44] tcal-x commented on #302
@Pocketkid2 can you check that you have `INSTALL_DIR` set correctly when trying to build?

[2022-05-19 19:05] umarcor commented on #302
@Pocketkid2 didn't you install Python package f4pga through pip? Maybe not today but yesterday or some other day? I'm asking because the log shows the following:

[code]

The current guidelines in f4pga-example do not have any reference to installing the Python package. Therefore, I wonder how did that end up in your environment... Note that both links in your first message seem to be pointing to

[2022-05-19 19:10] umarcor commented on #302
@tcal-x, FYI, the shell wrappers were removed from the arch-defs packages and do now need to be installed through `pip install https://github.com/chipsalliance/f4pga/archive/main.zip#subdirectory=f4pga`. That will create some entrypoints through Python with the same names as the *deprecated* wrappers, which will call the now internal (*hidden*) shell wrappers. The guidelines in f4pga-examples need

[2022-05-19 19:50] Pocketkid2 commented on #302
I did install the python package for testing separately, but that had its own issues so I followed along with the f4pga-examples to see if that method worked. And I did verify that my INSTALL_DIR is correct, I just edited the log file to replace my full home path with ~

[2022-05-19 19:59] umarcor commented on #302
@Pocketkid2 if the content of `~/opt/f4pga/xc7/conda/envs/xc7/bin/symbiflow_synth` is *not* a shell script, you need to execute `wget -qO- https://storage.googleapis.com/symbiflow-arch-defs/artifacts/prod/foss-fpga-tools/symbiflow-arch-defs/continuous/install/20220406-185509/symbiflow-arch-defs-install-3ef4188.tar.xz | tar -xJC $INSTALL_DIR/xc7/install` again. That should ovewrite the *new* entryp

[2022-05-20 16:30] Pocketkid2 commented on #302
@umarcor I have run that wget command along with the others but it doesn't seem to be overwriting the scripts. Is there something else I need to do? I do realize that this method of running symbiflow is ultimately meant to be replaced with the python module so I might close this issue and focus on debugging and reporting issues for that.

[2022-05-20 16:45] umarcor commented on #302
@Pocketkid2 do you find yourself comfortable for managing multiple environments/setups in parallel? If that is the case, I propose to keep the current one as is (for debugging/fixing this issue). Then create two new, one for examples as default, and another one for examples along with Python f4pga. In order to create a new environment, changing the INSTALL_DIR and running should suffice.
If you ca

[2022-05-20 17:11] mithro commented on #298
@umarcor - We need to make sure that existing Makefile based flows continue to work.

[2022-05-20 17:13] umarcor commented on #298
@mithro, see #297 and https://github.com/SymbiFlow/f4pga-arch-defs/pull/2509#issuecomment-1131394460.

[2022-05-20 17:18] mithro commented on #298
@umarcor - I'm not sure I understand what is relevant in #297 and https://github.com/SymbiFlow/f4pga-arch-defs/pull/2509#issuecomment-1131394460 to my comment?

[2022-05-20 17:23] umarcor commented on #298
@mithro, existing shell wrappers were moved from repo arch-defs to f4pga. Previously, they were installed as part of the arch-defs packages. Now, they need to be installed through pip, and 1 or 2 envvars need to be set (mentioned in https://github.com/SymbiFlow/f4pga-arch-defs/pull/2509#issuecomment-1131394460). Other than that, the Makefile based flows will continue to work because the shell wrap

[2022-05-20 18:04] Pocketkid2 commented on #302
I think for now I'll just focus on the python module, as that is more relevant to my current research project, and I have been meaning to dive into the code for that anyway. Thanks for your comments and help! I will be using the other issue I created on the main f4pga repo going forward.

[2022-05-20 18:04] #302 closed

[2022-05-20 20:28] mithro commented on #298
@umarcor - As long as people's existing Makefile based flows continue to work (and are ideally also being tested in some way) then I'm happy.

(PS There is no reason that Python scripts can't be drop in 100% compatible replacement for shell scripts?)

[2022-05-20 20:42] umarcor commented on #298
@mithro, there was a prototype (https://github.com/chipsalliance/f4pga/commit/2291026181192b604e5eb44b29113c47b055f118), but the current implementation is based on a JSON configuration file (https://github.com/chipsalliance/f4pga/blob/main/.github/sftest.json). It should be possible to replace the *deprecated* wrapper commands with functions calling one specific internal module/step/stage of f4pga

[2022-05-21 04:30] mpictor opened #304 "project-f.rst (and likely others): broken link"
[project-f.rst](https://github.com/chipsalliance/f4pga-examples/blob/main/docs/project-f.rst) ([project-f.html](https://f4pga-examples.readthedocs.io/en/latest/project-f.html)) has a bad link in the warning at the top.

The link to
`https://github.com/chipsalliance/f4pga-arch-defs/issues/2246` should instead point to
`https://github.com/SymbiFlow/f4pga-arch-defs/issues/2246`. (or has the link been

[2022-05-21 08:09] umarcor commented on #304
That is the case. Nonetheless, see #305.

[2022-05-23 17:30] #304 closed

[2022-05-26 14:03] #297 closed

[2022-05-31 18:45] westonMS opened #309 "Flow continues with Undefined Type Error using Surelog"
## Issue
When declaring an invalid type the Surelog parser gives the following error:
`[ERR:CP0317] {PATH}/top.sv:2: Undefined type "param".`

Despite this error being identified, the flow continues to the end until a bitstream is generated.

The default yosys parser catches this and gives: `ERROR: syntax error, unexpected '=', expecting '(' or '['`.

## Code Example
[code]

[2022-05-31 18:53] westonMS opened #310 "String Parameters not supported with Surelog-yosys Plugin"
## Issue
If you use `localparam` or `parameter` to initialize parameters, Surelog-yosys plugin throws an error if you initialize it with a string.
The yosys parser is able to correctly interpret this. Both can interpret the parameter correctly if you initialize it with an integer.

Run with command `SURELOG_CMD="-parse -DSYNTHESIS" make`
## Code Example
[code]
This code gives the following error:

[2022-05-31 19:08] westonMS opened #311 "Typedef Enum Width Default to one bit"
Using the Surelog parser,  when initializing an enum, if a width is not set it defaults to one bit.
The bitstream is generated but is faulty.

Works:
[code]

Original does not work:
[decrypt_rc4.zip](https://github.com/chipsalliance/f4pga-examples/files/8808580/decrypt_rc4.zip)
[code]

This was run with the `SURELOG_CMD='-parse -DSYNTHESIS' make`

Error did not occur running with `make`

[2022-05-31 19:26] westonMS commented on #311
[Same issue](https://github.com/chipsalliance/f4pga-examples/issues/291#issue-1203841388) from earlier with a different fix.

[2022-05-31 19:31] westonMS opened #312 "Localparam not working properly"
When the code was compiled using Surelog-yosys plugin, the bitstream was generated, but would not work properly. The State Machine would not cycle through, which caused each button on the counter to only work once until it was reset using the center button. This was caused by the use of `localparam`

This is probably caused by the parameters defaulting to one bit. Similar to [this bug](https://git

[2022-05-31 20:53] westonMS opened #313 "Signal not in Net List with one bit wires"
When referencing a single bit wire, defined using `[0:0]` as its width, in an XDC file using `[0]` (e.g. `sw[0]`) the following error is returned:
[code]

This is the problematic line: `  set_property -dict { PACKAGE_PIN V17   IOSTANDARD LVCMOS33 } [get_ports { sw[0] }];`

The following does work with Vivado using `input wire logic [0:0] sw` but does not work with `input wire logic sw`
[broken_wir

[2022-06-01 16:13] westonMS opened #314 "Unable to handle Shift with Ternary operator"
# Shift-Ternary Bug

Using Surelog plugin, with Yosys, Yosys gives the following bug
`ERROR: Unsupported expression in mark_as_unsigned!`

Yosys parser is able to compile the program without using Surelog

The error is caused by a shift operator followed by a ternary operator. Shifting either directions causes the bug. So does the `<<<` or `>>>` shift operator.
Problem Statement : `(0)<<(0)?(0):(0

[2022-06-01 16:33] westonMS commented on #314
If the Ternary operation is not in parenthesis, the bug will not occur

[2022-06-01 16:35] westonMS opened #315 "Array does not work with integers"
When declaring an array, only the rightmost value will be read correctly while the rest will be read as 0. The SV is accepted and implemented and a bit-stream is generated. Only then can you see that the values are incorrect. In the following example, indices 0-6 will be read as 0 while index 7 will be read as 3.
ex:
`logic[1:0] modmem[8] = '{0, 1, 2, 3, 0, 1, 2, 3};`

This can be avoided if the w

[2022-06-03 12:45] rkapuscik commented on #309
This should be already fixed with https://github.com/chipsalliance/yosys-f4pga-plugins/pull/301, but it seems that the tools in this repository were not updated yet.

[2022-06-03 12:48] rkapuscik commented on #310
Should be already fixed with https://github.com/chipsalliance/yosys-f4pga-plugins/pull/290, but it seems that the tools in this repository were not updated yet.

[2022-06-03 12:49] rkapuscik commented on #312
Thanks for reporting, we will investigate this.

[2022-06-03 12:49] rkapuscik commented on #313
Thanks for reporting, we will investigate this.

[2022-06-03 12:50] rkapuscik commented on #311
Thanks for reporting, I reproduced this and we'll look into it.

[2022-06-03 12:51] rkapuscik commented on #315
Thanks for reporting, we'll look into it.

[2022-06-06 19:46] Zach227 opened #316 "Codebreaker Lab Failure"
When running the Codebreaker Lab through the f4pga flow with the default Yosys parser it works correctly. When the Surelog parser is used, it generates a bit stream but does not function properly on the board. The seven segment display works but it does not decrypt the message.

Full Project: [codebreaker.zip](https://github.com/chipsalliance/f4pga-examples/files/8847109/codebreaker.zip) (not work

[2022-06-06 23:38] nelsobe commented on #262
Our student testing indicates this issue is fixed as of 6/6/2022 using the latest f4pga-examples tools distribution.

Closing issue.

[2022-06-06 23:38] #262 closed

[2022-06-07 14:54] rkapuscik commented on #316
Thanks for the report.

One of the changes (explicit width of enum variable) is I think a duplicate of #311 (it seems to be the same test case?). I'm not sure about the second change (merging the `always_ff`), we'll look into that.

[2022-06-09 09:17] umarcor commented on #298
FTR, example xc7/counter_test was modified to use `f4pga build` when targeting arty_35: #318.

[2022-06-13 21:47] westonMS commented on #312
After further investigation it appears the problem is not that it defaults to one bit, but that in a case statement the parameter is not handled correctly if it is multiple bits wide.
In OneShot.sv, if `ONE:` in the case statement is replaced by `2'b10:` the code functions properly.

[2022-06-17 19:59] jcrob2 commented on #309
Using the following timestamp and hash, the issue still exists.
Timestamp: 20220606-234655
Hash: 1667c14

I've included a file that contains a list of the content/versions of the conda environment that we have.
[conda_list.txt](https://github.com/chipsalliance/f4pga-examples/files/8931052/conda_list.txt)

[2022-06-17 20:00] jcrob2 commented on #310
Using the following timestamp and hash, the issue still exists.
Timestamp: 20220606-234655
Hash: 1667c14

I've included a file that contains a list of the content/versions of the conda environment that we have.
[conda_list.txt](https://github.com/chipsalliance/f4pga-examples/files/8931052/conda_list.txt)

[2022-06-17 20:01] jcrob2 commented on #290
Using the following timestamp and hash, the issue still exists.
Timestamp: 20220606-234655
Hash: 1667c14

I've included a file that contains a list of the content/versions of the conda environment that we have.
[conda_list.txt](https://github.com/chipsalliance/f4pga-examples/files/8931052/conda_list.txt)

[2022-06-17 20:02] jcrob2 commented on #289
Using the following timestamp and hash, the issue still exists.
Timestamp: 20220606-234655
Hash: 1667c14

I've included a file that contains a list of the content/versions of the conda environment that we have.
[conda_list.txt](https://github.com/chipsalliance/f4pga-examples/files/8931052/conda_list.txt)

[2022-06-17 20:02] jcrob2 commented on #288
Using the following timestamp and hash, the issue still exists.
Timestamp: 20220606-234655
Hash: 1667c14

I've included a file that contains a list of the content/versions of the conda environment that we have.
[conda_list.txt](https://github.com/chipsalliance/f4pga-examples/files/8931052/conda_list.txt)

[2022-06-17 20:04] jcrob2 commented on #263
Using the following timestamp and hash, the issue still exists.
Timestamp: 20220606-234655
Hash: 1667c14

I've included a file that contains a list of the content/versions of the conda environment that we have.
[conda_list.txt](https://github.com/chipsalliance/f4pga-examples/files/8931052/conda_list.txt)

[2022-06-28 12:29] umarcor opened #328 "Switch to using openFPGALoader as the default tool to upload bitstreams to xc7 devices"
In the documentation of arch-defs, guidelines were updated to recommend using openFPGALoader:

- https://f4pga.readthedocs.io/projects/arch-defs/en/latest/getting-started.html#openfpgaloader
- SymbiFlow/f4pga-arch-defs#2240

However, `make download` in this repo is using openocd:

- https://f4pga-examples.readthedocs.io/en/latest/building-examples.html#counter-test
- https://github.com/chipsallian

[2022-06-30 14:00] rkapuscik commented on #289
This should be already fixed, please update the plugin to the newest version as described [here](https://github.com/chipsalliance/f4pga-examples/blob/main/docs/getting.rst#updating-yosys-systemverilog-plugin) to verify.

[2022-06-30 14:00] rkapuscik commented on #290
This should be already fixed, please update the plugin to the newest version as described [here](https://github.com/chipsalliance/f4pga-examples/blob/main/docs/getting.rst#updating-yosys-systemverilog-plugin) to verify.

[2022-06-30 14:00] rkapuscik commented on #291
This should be already fixed, please update the plugin to the newest version as described [here](https://github.com/chipsalliance/f4pga-examples/blob/main/docs/getting.rst#updating-yosys-systemverilog-plugin) to verify.

[2022-06-30 14:00] rkapuscik commented on #309
This should be already fixed, please update the plugin to the newest version as described [here](https://github.com/chipsalliance/f4pga-examples/blob/main/docs/getting.rst#updating-yosys-systemverilog-plugin) to verify.

[2022-06-30 14:00] rkapuscik commented on #310
This should be already fixed, please update the plugin to the newest version as described [here](https://github.com/chipsalliance/f4pga-examples/blob/main/docs/getting.rst#updating-yosys-systemverilog-plugin) to verify.

[2022-06-30 14:01] rkapuscik commented on #311
This should be already fixed, please update the plugin to the newest version as described [here](https://github.com/chipsalliance/f4pga-examples/blob/main/docs/getting.rst#updating-yosys-systemverilog-plugin) to verify.

[2022-06-30 14:01] rkapuscik commented on #315
This should be already fixed, please update the plugin to the newest version as described [here](https://github.com/chipsalliance/f4pga-examples/blob/main/docs/getting.rst#updating-yosys-systemverilog-plugin) to verify.

[2022-07-05 15:12] rkapuscik commented on #316
I've retested this and after the enum variable fix the Yosys tree is functionally the same with or without merging the `always_ff` block, so no changes should be needed anymore.

Please retest with the latest plugin.

[2022-07-05 15:13] rkapuscik commented on #313
Note: UHDM is exactly the same for both `input wire logic [0:0] sw` and `input wire logic sw`, so it cannot be easily fixed in SystemVerilog plugin.

[2022-07-13 08:13] #328 closed, assigned to nobody

[2022-07-14 18:01] westonMS commented on #315
We have re-tested this with the latest plugin and the design works now. However, we want fixes to be available to all users when they use the main install. I re-installed the tool-chain with the latest install instructions and this is not fixed without manually updating the plugin.

[2022-07-14 18:01] westonMS commented on #311
We have re-tested this with the latest plugin and the design works now. However, we want fixes to be available to all users when they use the main install. I re-installed the tool-chain with the latest install instructions and this is not fixed without manually updating the plugin.

[2022-07-14 18:01] westonMS commented on #291
We have re-tested this with the latest plugin and the design works now. However, we want fixes to be available to all users when they use the main install. I re-installed the tool-chain with the latest install instructions and this is not fixed without manually updating the plugin.

[2022-07-14 18:17] westonMS commented on #310
I've retested this with the latest install and have verified that it works

[2022-07-14 18:17] #310 closed

[2022-07-16 20:52] mithro commented on #291
FYI - @kgugala

[2022-07-16 20:52] mithro commented on #311
FYI - @kgugala

[2022-07-16 20:53] mithro commented on #315
FYI - @kgugala

[2022-07-16 20:53] mithro commented on #316
FYI - @kgugala

[2022-07-18 10:28] tmichalak commented on #315
@westonMS we are working on a [conda_lock_update mechanism](https://github.com/chipsalliance/f4pga-examples/pull/334) - see [more detailed comment](https://github.com/chipsalliance/f4pga-examples/issues/311#issuecomment-1187028270)

[2022-07-20 20:43] Zach227 commented on #290
@nelsobe I have retested this bug with the latest install and can verify that it is fixed. This issue can be  closed.

[2022-07-20 20:51] Zach227 commented on #289
@nelsobe I have retested this bug with the latest install and have verified that it is fixed. This issue can be closed.

[2022-07-20 20:52] nelsobe commented on #289
Thanks @Zach227.  Closing this issue.

[2022-07-20 20:52] #289 closed

[2022-07-20 20:54] #290 closed

[2022-07-20 20:59] Zach227 commented on #288
@nelsobe I have retested this bug with the latest install and have verified that it is fixed. This issue can be closed.

[2022-07-20 22:39] #288 closed

[2022-07-21 15:22] Zach227 commented on #314
I've retested this bug with the latest install and have verified that it is fixed.

[2022-07-21 17:28] umarcor commented on #314
@Zach227 the environment for xc7 was updated very few hours ago: https://github.com/chipsalliance/f4pga-examples/commits/main. Did you fetch and pull the latest changes from the main branch 2h ago (when you wrote the comment)?

[2022-07-26 17:11] Zach227 commented on #316
I have retested with the latest install instructions and this issue is resolved.

[2022-07-26 17:11] #316 closed

[2022-07-26 17:14] Zach227 commented on #314
I retested this with the latest update and the issue is now resolved.

[2022-07-26 18:07] #314 closed

[2022-07-26 19:41] westonMS commented on #315
Retested and it works

[2022-07-26 19:41] #315 closed

[2022-07-26 19:42] #311 closed

[2022-07-27 16:39] #291 closed

[2022-07-27 20:10] wirthlin commented on #313
This seems to be specific to how Xilinx handles xdc files and so we are not going to worry about it.

[2022-07-27 20:10] #313 closed

[2022-07-28 14:50] wdb870914NYCU opened #339 "JTAG init failed with: unable to open ftdi device"
When I download the bitstream file, it says:
[code]

I'm using Arty-A7-35T
Do I need to install any driver for the board? Like Vivado?

Thanks

[2022-08-02 14:15] wdb870914NYCU commented on #339
After I installed JTAG cable driver from Xilinx,
the error becomes
[code]

[2022-08-02 14:50] wdb870914NYCU commented on #339
I fixed this problem by running `make download` as root (Of course, I need to run conda env in root).
I don't know if it can work without Xilinx JTAG cable driver.
Maybe you can add more prerequisites or hints in the example documentation, including:

- Install Cable Driver (Not sure it is necessary)
- `make download` as root

[2022-08-02 14:51] #339 closed

[2022-09-09 22:41] mithro opened #362 "What happened to the LiteX Linux and LiteX SATA demos?"
It seems to be missing from https://f4pga-examples.readthedocs.io/en/latest/building-examples.html now?

They still appear at;
 - https://github.com/chipsalliance/f4pga-examples/tree/main/xc7/linux_litex_demo
 - https://github.com/chipsalliance/f4pga-examples/tree/main/xc7/litex_sata_demo

And are linked from the README file @ https://github.com/chipsalliance/f4pga-examples/tree/main/xc7

[2022-09-28 08:20] YCin opened #364 "make: f4pga: No such file or directory make: *** [Makefile:10: build] Error 127"
Hi

when i try to build a file in rpi4 platform i have the following error

make: f4pga: No such file or directory
make: *** [Makefile:10: build] Error 127

any suggestion or solutiThanks

[2022-09-28 08:22] umarcor commented on #364
Please, provide details about the procedure you followed. Running make without first creating the Conda environment is likely to fail.

[2022-09-28 09:06] pgielda commented on #364
Also I am pretty sure f4pga-examples will not work on RPi4 as we do not currently provide ARM packages on conda (yet)...

[2022-10-01 03:09] YCin commented on #364
Have you Know any other solution to make f4pga-examples on RPI4.
Thanks

[2022-10-01 03:11] YCin commented on #364
The project consist on impliment verilog code with openfpga bootloader by the mean of rpi4

[2022-10-07 22:21] westonMS opened #366 "Built in gates cannot take multi-bit signal (Surelog)"
Using the Surelog parser, built in gates (and, or, not, xor etc.) cannot take multi bit signals as inputs or outputs. If a multi-bit signal is used (e.g. sw[5]) it will default to the first bit instead (sw[0]).

Example:
[gate_test.zip](https://github.com/chipsalliance/f4pga-examples/files/9737714/gate_test.zip)

[2022-10-09 12:22] umarcor commented on #366
Is this related to #269 ?

[2022-10-19 17:21] westonMS commented on #366
From testing, it appears that issue #269 is still fixed and not the problem.

[2022-10-21 13:54] rkapuscik commented on #366
Thanks for reporting this. I tried to reproduce it, but the Verilog code emitted after parsing through plugin seems correct:
[code]
Yosys parser produces the same assignments. Is this design expected to work with Yosys parser? How do you verify that wrong bit was used?

[2022-11-17 17:21] tmichalak commented on #293
@Talha-Ahmed-1 which example exactly are you running or how does you sdc file look like?

[2022-11-20 18:50] #293 closed